<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modal - Abilis</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../../dist/css/abilis.css" />
</head>
<body>
  <section class="container">

    <div class="modal active" id="modal2">
        <div class="modal-overlay modal-trigger"></div>
        <div class="modal-content">
            <img class="img-resp img-contain" src="../../assets/img/responsive.png" alt="">
        </div>
        <button class="modal-close close big" aria-label="close"></button>
    </div>

  </section>

</body>
</html>