<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accordion - Abilis</title>
  <link rel="stylesheet" href="../../../dist/css/abilis.css" />
</head>
<body>
  <nav class="navbar navbar-type" role="navigation" aria-label="main navigation" id="navbar" data-sticky-top="400" data-sticky-animation="animation-slide-top" data-sticky-class-before="bg-tranparent" data-sticky-class-after="bg-white box-shadow-1">
  <!-- <nav class="navbar" role="navigation" aria-label="main navigation" id="navbar" data-sticky-type="navbar-sticky-fast" data-sticky-class-before="link-black" data-sticky-class-after="bg-white box-shadow-1" data-path="index.html"> -->
  <!-- <nav class="navbar transition-06" role="navigation" aria-label="main navigation" id="navbar" data-sticky-class-before="link-white w-100 pt-15 pb-15" data-sticky-class-after="bg-white box-shadow fixed pb-0 pt-0 w-100" data-path="index.html"> -->

    <div class="navbar-brand">
      <a class="navbar-item navbar-logo" href="https://abilis.io">
        <img src="../../assets/img/abilis_logo_white.png">
        <!-- Abilis -->
      </a>

      <!-- <a data-toggle-menu="#toggleMenu" role="button" class="navbar-toggle-1" aria-label="menu">
        <span></span>
        <span></span>
        <span></span>
      </a> -->

      <!-- <a data-toggle-menu="#toggleMenu" role="button" class="navbar-toggle-2" aria-label="menu">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a> -->

      <!-- <a data-toggle-menu="#toggleMenu" role="button" class="navbar-toggle-3" aria-label="menu">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a> -->

      <a data-toggle-menu="#toggleMenu" role="button" class="navbar-toggle-4" aria-label="menu">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <div id="toggleMenu" class="navbar-menu">
      
      <ul class="navbar-start">
        <li class="navbar-item">
          <a>Home</a>
        </li>

        <li class="navbar-item">
          <a>Documentation</a>
        </li>

        <li class="navbar-item dropdown">
          <a class="navbar-link">
            More
          </a>
          <ul class="navbar-dropdown navbar-dropdown-2">
            <li class="navbar-item">
              <a href="/home">About</a>
            </li>
            <li class="navbar-item">
              <a href="#">Jobs</a>
            </li>
            <li class="navbar-item">
              <a href="#">Contact</a>
            </li>
            <hr class="navbar-divider">
            <li class="navbar-item">
              <a href="#">Report an issue</a>
            </li>
          </ul>
        </li>

        <li class="navbar-item dropdown click">
          <a class="navbar-link">
            More
          </a>
          <ul class="navbar-dropdown-clicked navbar-dropdown-1">
            <li class="navbar-item">
              <a>About</a>
            </li>
            <li class="navbar-item">
              <a>Jobs</a>
            </li>
            <li class="navbar-item">
              <a>Contact</a>
            </li>
            <hr class="navbar-divider">
            <li class="navbar-item">
              <a>Report an issue</a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="navbar-end mobile-center">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button" data-sticky-class-before="button-primary" data-sticky-class-after="button-info">
              <strong>Sign up</strong>
            </a>
            <a class="button button-primary-light">
              Log in
            </a>
          </div>
        </div>
      </div>

    </div>

  </nav>

  <section class="h-full"></section>
  <section class="h-full"></section>
  <section class="h-full"></section>

  <script type="module" src="../../../dist/js/abilis.js"></script>
</body>
</html>