// ANIMATION
$animation-duration:            0.5s !default;
$animation-fade-duration:       0.8s !default;
$animation-kenburns-duration:   15s !default;
$animation-fast-duration:       0.1s !default;
// ANIMATION