// PREFIX
$prefix:              ab-;
// PREFIX

// TRANSITION
$transition:          all 0.2s linear !default;
// TRANSITION

@import 'color.scss';

// GLOBAL
$global-font-color:   $color-gray-8;
$global-link-color:   $color-secondary;
$global-border-color: $color-gray-2;
$global-max-height:   1400px;
// GLOBAL

@import 'animation.scss';
@import 'breakpoint.scss';
@import 'body.scss';
@import 'border.scss';
@import 'container.scss';
@import 'block.scss';
@import 'visibility.scss';
@import 'flex.scss';
@import 'margin.scss';
@import 'size.scss';
@import 'shadow.scss';
@import 'position.scss';
@import 'float.scss';
@import 'transition.scss';
@import 'others.scss';