$transitions-duration:
    "01"    0.1s,
    "02"    0.2s,
    "03"    0.3s,
    "04"    0.4s,
    "05"    0.5s,
    "06"    0.6s,
    "07"    0.7s,
    "08"    0.8s,
    "09"    0.9s,
    "1"     1s,
    "2"     2s,
    "3"     3s,
    "4"     4s,
    "5"     5s,
    "6"     6s,
    "7"     7s,
    "8"     8s,
    "9"     9s,
    "10"    10s,
    "15"    15s,
    "20"    20s,
    "25"    25s,
    "30"    30s,
    "unset" unset
    !default;

$transitions-property:
    all,
    font-size,
    font-weight,
    font-family,
    font-style,
    font-display,
    background,
    background-color,
    background-position,
    background-image,
    background-cover,
    background-size,
    padding,
    padding-right,
    padding-left,
    padding-top,
    padding-bottom,
    margin,
    margin-right,
    margin-left,
    margin-top,
    margin-bottom,
    height,
    max-height,
    min-height,
    width,
    max-width,
    min-width,
    transform,
    box-shadow,
    text-shadow,
    text-decoration,
    text-align,
    text-transform,
    right,
    left,
    top,
    bottom,
    border,
    border-width,
    border-color,
    border-style,
    border-bottom,
    border-top,
    border-right,
    border-left,
    border-radius,
    border-top-right-radius,
    border-bottom-right-radius,
    border-top-left-radius,
    border-bottom-left-radius,
    color,
    display,
    visibility,
    vertical-align,
    float,
    flex,
    flex-direction,
    flex-grap,
    flex-grow,
    flex-shrink,
    flex-basis,
    flex-flow,
    grid,
    grid-row,
    grid-column,
    grid-area,
    grid-template-columns,
    grid-template-rows,
    grid-auto-flow,
    grid-template,
    grid-column-start,
    grid-column-end,
    grid-row-start,
    grid-row-end,
    justify-self,
    justify-content,
    justify-items,
    line-height,
    list-style,
    letter-spacing,
    overflow,
    overflow-x,
    overflow-y,
    outline,
    outline-style,
    outline-width,
    outline-color,
    opacity,
    offset,
    resize,
    stroke,
    size,
    scale,
    white-space,
    word-break,
    word-wrap,
    word-spacing,
    z-index,
    unset
    !default;

$transitions-timing:
    ease,
    ease-in,
    ease-out,
    ease-in-out,
    linear,
    step-start,
    step-end,
    inherit,
    initial,
    unset
    !default;