// BLOCKQUOTE
$blockquote-padding:            1.25rem 1.5rem !default;
$blockquote-border-width:       1px !default;
$blockquote-border-left-width:  5px !default;
$blockquote-border-left-color:  $global-border-color !default;
$blockquote-border-radius:      $border-radius !default;
$blockquote-background-color:   $color-gray-1 !default;
$blockquote-margin:             1rem !default;
// BLOCKQUOTE