// SKELETON
$skeleton-opacity:                      0.7 !default;
$skeleton-animation-duration:           1s !default;
$skeleton-margin-bottom:                0.4rem !default;

  // BUTTON
  $skeleton-button-width:               70px !default;
  $skeleton-button-height:              35px !default;
  $skeleton-button-border-radius:       $border-radius !default;
  // BUTTON

  // TEXT
  $skeleton-text-height:                15px !default;
  $skeleton-text-border-radius:         .125rem !default;
  $skeleton-text-last-child-width:      80% !default;
  // TEXT
// SKELETON