// TABLE
$table-padding:                     0.5rem 0.75rem !default;
$table-border-width:                1px !default;
$table-border-color:                $global-border-color !default;
$table-narrow:                      0.25em 0.5em !default;
$table-background-color:            $color-white !default;
$table-background-color-striped:    $color-gray-1 !default;
$table-color:                       $global-font-color !default;
// TABLE