// TITLES
$title-line-height:     1.15 !default;
$title-font-weight:     600 !default;
$title-margin:          0 !default;

$titles:
                        "h1" $font-size-xxl,
                        "h2" $font-size-xl,
                        "h3" $font-size-l,
                        "h4" $font-size-md,
                        "h5" $font-size-sm,
                        "h6" $font-size-s
                        !default;
// TITLES