.grid {
    display: grid;
    grid-auto-flow: row;
    grid-gap: $grid-gap;

    &.centered{
        justify-content: center;
        justify-items: center;
    }

    @for $i from 1 through 12 {
        &.grid-#{$i} {
            grid-template-columns: repeat($i, minmax(0, 1fr));
        }
    
        .column-#{$i} {
            grid-column: auto / span $i;
        }
    
        .row-#{$i} {
            grid-row: auto / span $i;
        }
    
        .pos-#{$i} {
            grid-column-start: #{$i} !important;
        }
    
        .pos-row-#{$i} {
            grid-row-start: #{$i} !important;
        }
    }
    
    @each $name, $value in $grid-breakpoints {
        @for $i from 1 through 12 {
            @media #{$value} {
                &.grid-#{$name}-#{$i} {
                    grid-template-columns: repeat($i, minmax(0, 1fr));
                }
        
                .column-#{$name}-#{$i} {
                    grid-column: auto / span $i;
                }
        
                .row-#{$name}-#{$i} {
                    grid-row: auto / span $i;
                }
        
                .pos-#{$name}-#{$i} {
                    grid-column-start: #{$i} !important;
                }
        
                .pos-row-#{$name}-#{$i} {
                    grid-row-start: #{$i} !important;
                }
            }
        }
    }
        
    @each $num, $size in $gutter {
        &.gutter-#{$num} {
            grid-gap: $size;
        }
        
        @each $name, $value in $grid-breakpoints {
            @media #{$value} {
                &.gutter-#{$name}-#{$num} {
                    grid-gap: $size;
                }
            }
        }
    }
}