.columns {
    display: flex;
    flex-wrap: wrap;
    margin-left: - calc($grid-gap / 2);
    margin-right: - calc($grid-gap / 2);
    margin-top: - calc($grid-gap / 2);

    &:not(:last-child) {
        margin-bottom: calc($grid-gap / 2);
    }

    > * {
        padding: calc($grid-gap / 2);
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
    }

    .column {
        flex: 1 0 0%;
    }

    @for $i from 1 through $max-cols {
        .column-#{$i} {
            flex: 0 0 auto;
            width: $i * calc(100% / $max-cols);
        }
    }

    @each $name, $value in $grid-breakpoints {
        @media #{$value} {
            @for $i from 1 through $max-cols {
                .column-#{$name}-#{$i} {
                    flex: 0 0 auto;
                    width: $i * calc(100% / $max-cols);
                }
            }
        }
    }

    @each $num, $size in $gutter {
        &.gutter-#{$num} {
            margin-left: - calc($size / 2);
            margin-right: - calc($size / 2);
            margin-top: - calc($size / 2);

            &:not(:last-child) {
                margin-bottom: calc($size / 2);
            }

            > * {
                padding: calc($size / 2);
            }
        }
        
        @each $name, $value in $grid-breakpoints {
            @media #{$value} {
                &.gutter-#{$name}-#{$num} {
                    margin-left: - calc($size / 2);
                    margin-right: - calc($size / 2);
                    margin-top: - calc($size / 2);

                    &:not(:last-child) {
                        margin-bottom: calc($size / 2);
                    }

                    > * {
                        padding: calc($size / 2);
                    }
                }
            }
        }
    }
}