$color-input-width:             5rem !default;
$color-input-height:            1.5rem !default;
$color-input-margin-left:       -2px !default;
$color-input-border-radius:     $input-border-radius !default;