// FIELD
$field-right-left:                                                      0.625rem !default;
$field-margin:                                                          0.25rem !default;
$field-group-margin:                                                    0.35rem !default;
$field-margin-bottom:                                                   0.75rem !default;
// FIELD

// CONTROL
$control-icon-padding:                                                  13px !default;
$control-icon-small-multiple:                                           2.8 !default;
$control-icon-multiple:                                                 3 !default;
$control-icon-big-multiple:                                             3.5 !default;
// CONTROL

// FIELD
    // FIELD LABEL
    $field-label-margin-bottom:                                         0.5rem !default;
    $field-label-margin-right:                                          1.5rem !default;
    // FIELD LABEL

    // FIELD BODY
    $field-body-margin-right:                                           0.75rem !default;
    // FIELD BODY

    // FIELD GROUP HORIZONTAL
    $field-group-horizontal-control-margin:                             10px !default;
    $field-group-horizontal-control-height:                             100% !default;

        // CONTROL
        $field-group-horizontal-control-border-color:                   $global-border-color !default;
        $field-group-horizontal-control-border-width:                   1px !default;
        
            // CONTROL TEXT
            $field-group-horizontal-control-text-background-color:      $color-gray-1 !default;
            $field-group-horizontal-control-text-size-small:            $font-size-xxs !default;
            $field-group-horizontal-control-text-size:                  $font-size-base !default;
            $field-group-horizontal-control-text-size-big:              $font-size-s !default;
            // CONTROL TEXT
        // CONTROL
    // FIELD GROUP HORIZONTAL
// FIELD