// INPUT
$input-padding:                                                         12px !default;
$input-padding-right-left:                                              1rem !default;
$input-margin:                                                          0 !default;
$input-width:                                                           100% !default;
$input-height-small:                                                    2.1rem !default;
$input-height:                                                          2.5rem !default;
$input-height-big:                                                      3.4rem !default;
$input-line-height:                                                     1.5 !default;
$input-border-width:                                                    $field-group-horizontal-control-border-width !default;
$input-border-color:                                                    $field-group-horizontal-control-border-color !default;
$input-hover-border-color:                                              $color-gray-4 !default;
$input-active-border-color:                                             $color-primary !default;
$input-border-radius:                                                   $border-radius !default;
$input-box-shadow:                                                      0 0 0 0.125rem !default;
$input-box-shadow-opacity:                                              25% !default;
$input-background-color:                                                $color-white !default;
$input-color:                                                           $color-gray-8 !default;
$input-small-font-size:                                                 $font-size-xxs !default;
$input-font-size:                                                       $font-size-xs !default;
$input-big-font-size:                                                   $font-size-s !default;
$input-disabled-background-color:                                       $color-gray-1 !default;
$input-disabled-border-color:                                           $input-border-color !default;
$input-disabled-color:                                                  $color-gray-5 !default;
// INPUT

// LOADING
$form-loading-right-left:                                               0.625rem !default;
// LOADING