// LABEL
$label-color:               $color-gray-8 !default;
$label-font-weight:         500 !default;
$label-margin-bottom:       0.5rem !default;
$label-font-size-small:     $font-size-xxs !default;
$label-font-size-big:       $font-size-s !default;
// LABEL