// SELECT
$select-arrow-down-width:                                               4px !default;
$select-arrow-down-size:                                                0.7rem !default;
$select-arrow-down-right:                                               1rem !default;
$select-arrow-down-margin-top:                                          -0.45rem !default;
$select-arrow-down-color:                                               $global-border-color !default;
$select-padding-right:                                                  2.5rem !default;
$select-option-padding:                                                 0.5rem 1rem !default;

    // SMALL
    $select-arrow-down-width-small:                                     3.5px !default;
    $select-arrow-down-size-small:                                      0.6rem !default;
    $select-arrow-down-right-small:                                     0.8rem !default;
    $select-padding-right-small:                                        2rem !default;
    // SMALL

    // BIG
    $select-arrow-down-width-big:                                       5px !default;
    $select-arrow-down-size-big:                                        0.8rem !default;
    $select-arrow-down-right-big:                                       1.2rem !default;
    $select-padding-right-big:                                          3rem !default;
    // BIG
// SELECT