// TEXTAREA
$textarea-min-height:                                                   8rem !default;
$textarea-max-height:                                                   40rem !default;

    // SMALL
    $textarea-min-height-small:                                         6rem !default;
    $textarea-max-height-small:                                         30rem !default;
    // SMALL

    // BIG
    $textarea-min-height-big:                                           10rem !default;
    $textarea-max-height-big:                                           50rem !default;
    // BIG
// TEXTAREA