$alert-bg:                          $color-gray-1 !default;
$alert-border-color:                $color-gray-2 !default;
$alert-border-width:                1px !default;
$alert-border-radius:               $border-radius !default;
$alert-font-size:                   $font-size-base !default;
$alert-header-bg:                   $alert-border-color !default;
$alert-header-font-weight:          700 !default;
$alert-header-line-height:          1.25 !default;
$alert-header-padding-horizontal:   0.75rem !default;
$alert-header-padding-vertical:     1rem !default;
$alert-close-margin-left:           $alert-header-padding-horizontal !default;
$alert-body-padding:                1.25rem 1.5rem !default;