$alert-bg:                          $color-gray-1 !default;
$alert-border-color:                $global-border-color !default;
$alert-border-width:                1px !default;
$alert-border-radius:               $border-radius !default;
$alert-font-size:                   $font-size-base !default;
$alert-header-bg:                   $alert-border-color !default;
$alert-header-font-weight:          700 !default;
$alert-header-line-height:          1.25 !default;
$alert-header-padding-horizontal:   1rem !default;
$alert-header-padding-vertical:     0.75rem!default;
$alert-close-margin-left:           $alert-header-padding-horizontal !default;
$alert-body-padding-horizontal:     1.25rem !default;
$alert-body-padding-vertical:       1rem !default;