// BOX
$box-bg:                                    $color-white !default;
$box-border-radius:                         $border-radius !default;
$box-box-shadow:                            0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%) !default;
$box-margin:                                20px !default;
    // POST
    $box-post-padding:                      1.25rem !default;
    $box-post-header-footer-padding:        0.75rem !default;
    $box-post-header-footer-border:         1px solid $global-border-color !default;

    $box-profile-pic:                       50px;
    // POST
// BOX