$breadcrumb-font-size:              $font-size-base !default;
$breadcrumb-small-font-size:        $font-size-xxs !default;
$breadcrumb-big-font-size:          $font-size-s !default;
$breadcrumb-li-active-color:        $color-gray-6 !default;
$breadcrumb-li-before-color:        $color-gray-5 !default;
$breadcrumb-li-padding:             0.75rem !default;