$modal-overlay-bg:                          rgba($global-font-color, 50%) !default;
$modal-transition-duration:                 0.4s !default;
$modal-transition-delay:                    0.1s !default;
$modal-transition-timing:                   ease-out !default;
$modal-margin:                              20px;
$modal-content-margin-vertical:             80px;
$modal-header-footer-padding:               20px;
$modal-header-footer-bg:                    $color-gray-1;
$modal-header-footer-border:                1px solid $global-border-color;
$modal-header-footer-border-radius:         $border-radius;
$modal-header-title-size:                   $font-size-s;
$modal-header-title-color:                  $global-font-color;
$modal-container-width:                     95%;
$modal-container-max-width:                 640px;
$modal-content-img-height:                  70vh;
$modal-body-padding:                        20px;
$modal-body-bg:                             $color-white;
$modal-btn-margin-right:                    0.5rem;