$progress-border-radius:            $border-radius-round !default;
$progress-height:                   0.8rem !default;
$progress-bar-color:                $global-border-color !default;
$progress-value-color:              $color-secondary !default;