$grid-gap:      0.25rem !default;
$max-cols:      12 !default;

// GRID BREAKPOINT
$grid-breakpoints: (
                'xs': 'screen and (max-width: ' + calc($breakpoints-value-xs - 1px) +')',
                'sm': 'screen and (min-width: ' + $breakpoints-value-xs +')',
                'md': 'screen and (min-width: ' + $breakpoints-value-sm +')',
                'lg': 'screen and (min-width: ' + $breakpoints-value-md +')',
                'xl': 'screen and (min-width: ' + $breakpoints-value-lg +')',
                'xxl': 'screen and (min-width: ' + $breakpoints-value-xl +')',
) !default;
// GRID BREAKPOINT

// GUTTER
$gutter: (
                '0': 0rem,
                '1': 0.5rem,
                '2': 0.75rem,
                '3': 1rem,
                '4': 1.25rem,
                '5': 1.5rem,
                '6': 1.75rem,
                '7': 2rem,
                '8': 2.25rem,
                '9': 2.5rem,
) !default;
// GUTTER