<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accordion - Abilis</title>
  <link rel="stylesheet" href="../../dist/css/abilis.css" />
</head>
<body>
  <section class="container">
    <div class="accordion multiple">
    
      <div class="accordion-item active">
        <button class="accordion-toggle" type="button">
          Accordion Multiple Item 1
        </button>
        <div class="accordion-content active">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque reprehenderit deserunt, dolorum ullam quaerat veniam suscipit assumenda consequatur rem odio ut sapiente officiis inventore ducimus, repudiandae sint accusantium ad eius?
            Et minima provident perspiciatis, dolores, nobis, id in illo quasi asperiores debitis unde. Quidem possimus recusandae ipsa nihil, eius, inventore ab excepturi exercitationem reprehenderit eligendi error. Qui unde modi assumenda.
          </div>
        </div>
      </div>
    
      <div class="accordion-item">
        <button class="accordion-toggle" type="button">
          Accordion Multiple Item 2
        </button>
        <div class="accordion-content">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci consequuntur cupiditate aperiam eius sed! Suscipit harum exercitationem adipisci eum mollitia voluptatibus perspiciatis? Reprehenderit, corrupti! Necessitatibus quas eveniet eligendi explicabo iusto!
            Odit, necessitatibus quod recusandae possimus totam optio eligendi facere nesciunt ex numquam accusantium ullam, fugit, asperiores a autem quos rerum quidem eveniet voluptas. Eaque delectus reiciendis eius corporis enim ab.
            Sapiente doloribus tenetur deleniti error quaerat, accusantium a. Cum magni labore hic sed, optio, molestias incidunt nulla eaque illo mollitia vitae culpa a. Nobis quos amet odit ab, neque minima!
            Expedita laborum quae totam quas quisquam dolorem, harum odio commodi eius, facere quo eos hic explicabo itaque nihil non culpa ab quod dicta accusamus perferendis fugiat. Non beatae incidunt vitae?
            Temporibus facere quos asperiores in magni amet officiis tempora! Dolore aliquid, magni veniam nihil enim consequuntur placeat blanditiis natus, officiis magnam cupiditate autem similique deleniti voluptatibus maxime corporis neque consectetur!
          </div>
        </div>
      </div>
    
      <div class="accordion-item">
        <button class="accordion-toggle" type="button">
          Accordion Multiple Item 3
        </button>
        <div class="accordion-content">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quisquam laudantium eum odit, ipsum vitae debitis laboriosam dolores obcaecati molestiae quae! Quaerat eligendi itaque sunt expedita officiis recusandae cumque harum.
            Culpa sint autem aperiam aspernatur aliquid incidunt nisi dicta soluta dolore pariatur, nemo at eveniet reiciendis quod voluptatem a maxime deserunt atque distinctio. Dignissimos id culpa quam doloribus amet eveniet!
            Quam deleniti ut eaque illum magni aspernatur ratione doloremque possimus aliquid optio aperiam quidem voluptatum earum impedit, autem laboriosam eveniet nulla. Quia porro magnam voluptate deleniti obcaecati fugiat vel ut.
          </div>
        </div>
      </div>
    
    </div>
    
    <br><br>
    
    <div class="accordion single">
    
      <div class="accordion-item">
        <button class="accordion-toggle" type="button">
          Accordion Single Item 1
        </button>
        <div class="accordion-content">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque reprehenderit deserunt, dolorum ullam quaerat veniam suscipit assumenda consequatur rem odio ut sapiente officiis inventore ducimus, repudiandae sint accusantium ad eius?
            Et minima provident perspiciatis, dolores, nobis, id in illo quasi asperiores debitis unde. Quidem possimus recusandae ipsa nihil, eius, inventore ab excepturi exercitationem reprehenderit eligendi error. Qui unde modi assumenda.
          </div>
        </div>
      </div>
    
      <div class="accordion-item active">
        <button class="accordion-toggle" type="button">
          Accordion Single Item 2
        </button>
        <div class="accordion-content active">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci consequuntur cupiditate aperiam eius sed! Suscipit harum exercitationem adipisci eum mollitia voluptatibus perspiciatis? Reprehenderit, corrupti! Necessitatibus quas eveniet eligendi explicabo iusto!
            Odit, necessitatibus quod recusandae possimus totam optio eligendi facere nesciunt ex numquam accusantium ullam, fugit, asperiores a autem quos rerum quidem eveniet voluptas. Eaque delectus reiciendis eius corporis enim ab.
            Sapiente doloribus tenetur deleniti error quaerat, accusantium a. Cum magni labore hic sed, optio, molestias incidunt nulla eaque illo mollitia vitae culpa a. Nobis quos amet odit ab, neque minima!
            Expedita laborum quae totam quas quisquam dolorem, harum odio commodi eius, facere quo eos hic explicabo itaque nihil non culpa ab quod dicta accusamus perferendis fugiat. Non beatae incidunt vitae?
            Temporibus facere quos asperiores in magni amet officiis tempora! Dolore aliquid, magni veniam nihil enim consequuntur placeat blanditiis natus, officiis magnam cupiditate autem similique deleniti voluptatibus maxime corporis neque consectetur!
          </div>
        </div>
      </div>
    
      <div class="accordion-item">
        <button class="accordion-toggle" type="button">
          Accordion Single Item 3
        </button>
        <div class="accordion-content">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quisquam laudantium eum odit, ipsum vitae debitis laboriosam dolores obcaecati molestiae quae! Quaerat eligendi itaque sunt expedita officiis recusandae cumque harum.
            Culpa sint autem aperiam aspernatur aliquid incidunt nisi dicta soluta dolore pariatur, nemo at eveniet reiciendis quod voluptatem a maxime deserunt atque distinctio. Dignissimos id culpa quam doloribus amet eveniet!
            Quam deleniti ut eaque illum magni aspernatur ratione doloremque possimus aliquid optio aperiam quidem voluptatum earum impedit, autem laboriosam eveniet nulla. Quia porro magnam voluptate deleniti obcaecati fugiat vel ut.
          </div>
        </div>
      </div>
    
    </div>
    
    <br><br>
    
    <div class="accordion multiple borderless">
    
      <div class="accordion-item">
        <button class="accordion-toggle" type="button">
          Accordion Multiple Borderless Item 1
        </button>
        <div class="accordion-content">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque reprehenderit deserunt, dolorum ullam quaerat veniam suscipit assumenda consequatur rem odio ut sapiente officiis inventore ducimus, repudiandae sint accusantium ad eius?
            Et minima provident perspiciatis, dolores, nobis, id in illo quasi asperiores debitis unde. Quidem possimus recusandae ipsa nihil, eius, inventore ab excepturi exercitationem reprehenderit eligendi error. Qui unde modi assumenda.
          </div>
        </div>
      </div>
    
      <div class="accordion-item active">
        <button class="accordion-toggle" type="button">
          Accordion Multiple Borderless Item 2
        </button>
        <div class="accordion-content active">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci consequuntur cupiditate aperiam eius sed! Suscipit harum exercitationem adipisci eum mollitia voluptatibus perspiciatis? Reprehenderit, corrupti! Necessitatibus quas eveniet eligendi explicabo iusto!
            Odit, necessitatibus quod recusandae possimus totam optio eligendi facere nesciunt ex numquam accusantium ullam, fugit, asperiores a autem quos rerum quidem eveniet voluptas. Eaque delectus reiciendis eius corporis enim ab.
            Sapiente doloribus tenetur deleniti error quaerat, accusantium a. Cum magni labore hic sed, optio, molestias incidunt nulla eaque illo mollitia vitae culpa a. Nobis quos amet odit ab, neque minima!
            Expedita laborum quae totam quas quisquam dolorem, harum odio commodi eius, facere quo eos hic explicabo itaque nihil non culpa ab quod dicta accusamus perferendis fugiat. Non beatae incidunt vitae?
            Temporibus facere quos asperiores in magni amet officiis tempora! Dolore aliquid, magni veniam nihil enim consequuntur placeat blanditiis natus, officiis magnam cupiditate autem similique deleniti voluptatibus maxime corporis neque consectetur!
          </div>
        </div>
      </div>
    
      <div class="accordion-item">
        <button class="accordion-toggle" type="button">
          Accordion Multiple Borderless Item 3
        </button>
        <div class="accordion-content">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quisquam laudantium eum odit, ipsum vitae debitis laboriosam dolores obcaecati molestiae quae! Quaerat eligendi itaque sunt expedita officiis recusandae cumque harum.
            Culpa sint autem aperiam aspernatur aliquid incidunt nisi dicta soluta dolore pariatur, nemo at eveniet reiciendis quod voluptatem a maxime deserunt atque distinctio. Dignissimos id culpa quam doloribus amet eveniet!
            Quam deleniti ut eaque illum magni aspernatur ratione doloremque possimus aliquid optio aperiam quidem voluptatum earum impedit, autem laboriosam eveniet nulla. Quia porro magnam voluptate deleniti obcaecati fugiat vel ut.
          </div>
        </div>
      </div>
    
    </div>

    <br><br>

    <div class="accordion single borderless">
    
      <div class="accordion-item">
        <button class="accordion-toggle" type="button">
          Accordion Single Borderless Item 1
        </button>
        <div class="accordion-content">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque reprehenderit deserunt, dolorum ullam quaerat veniam suscipit assumenda consequatur rem odio ut sapiente officiis inventore ducimus, repudiandae sint accusantium ad eius?
            Et minima provident perspiciatis, dolores, nobis, id in illo quasi asperiores debitis unde. Quidem possimus recusandae ipsa nihil, eius, inventore ab excepturi exercitationem reprehenderit eligendi error. Qui unde modi assumenda.
          </div>
        </div>
      </div>
    
      <div class="accordion-item active">
        <button class="accordion-toggle" type="button">
          Accordion Single Borderless Item 2
        </button>
        <div class="accordion-content active">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci consequuntur cupiditate aperiam eius sed! Suscipit harum exercitationem adipisci eum mollitia voluptatibus perspiciatis? Reprehenderit, corrupti! Necessitatibus quas eveniet eligendi explicabo iusto!
            Odit, necessitatibus quod recusandae possimus totam optio eligendi facere nesciunt ex numquam accusantium ullam, fugit, asperiores a autem quos rerum quidem eveniet voluptas. Eaque delectus reiciendis eius corporis enim ab.
            Sapiente doloribus tenetur deleniti error quaerat, accusantium a. Cum magni labore hic sed, optio, molestias incidunt nulla eaque illo mollitia vitae culpa a. Nobis quos amet odit ab, neque minima!
            Expedita laborum quae totam quas quisquam dolorem, harum odio commodi eius, facere quo eos hic explicabo itaque nihil non culpa ab quod dicta accusamus perferendis fugiat. Non beatae incidunt vitae?
            Temporibus facere quos asperiores in magni amet officiis tempora! Dolore aliquid, magni veniam nihil enim consequuntur placeat blanditiis natus, officiis magnam cupiditate autem similique deleniti voluptatibus maxime corporis neque consectetur!
          </div>
        </div>
      </div>
    
      <div class="accordion-item">
        <button class="accordion-toggle" type="button">
          Accordion Single Borderless Item 3
        </button>
        <div class="accordion-content">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quisquam laudantium eum odit, ipsum vitae debitis laboriosam dolores obcaecati molestiae quae! Quaerat eligendi itaque sunt expedita officiis recusandae cumque harum.
            Culpa sint autem aperiam aspernatur aliquid incidunt nisi dicta soluta dolore pariatur, nemo at eveniet reiciendis quod voluptatem a maxime deserunt atque distinctio. Dignissimos id culpa quam doloribus amet eveniet!
            Quam deleniti ut eaque illum magni aspernatur ratione doloremque possimus aliquid optio aperiam quidem voluptatum earum impedit, autem laboriosam eveniet nulla. Quia porro magnam voluptate deleniti obcaecati fugiat vel ut.
          </div>
        </div>
      </div>
    
    </div>

  </section>

</body>
</html>
