<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alert - Abilis</title>
  <link rel="stylesheet" href="../../dist/css/abilis.css" />
</head>
<body>
  <section class="container">

    <div class="alert">
      <div class="alert-header">
        <p>Hello World</p>
        <button class="close" data-close></button>
      </div>
      <div class="alert-body">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, repellat optio labore doloremque quam magni qui eius id accusamus accusantium dolor reiciendis necessitatibus quisquam, odio, odit animi nam illo laudantium.
        Quisquam nulla ex possimus hic enim. Ipsam officia culpa sequi suscipit repudiandae ipsa tempora inventore architecto exercitationem, nulla, eligendi maxime ratione nobis quaerat. Ea veritatis reprehenderit optio ab saepe beatae.
      </div>
    </div>
  
    <br><br>
  
    <div class="alert primary">
      <div class="alert-header">
        <p>Hello World</p>
        <button class="close" data-close></button>
      </div>
      <div class="alert-body">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, repellat optio labore doloremque quam magni qui eius id accusamus accusantium dolor reiciendis necessitatibus quisquam, odio, odit animi nam illo laudantium.
        Quisquam nulla ex possimus hic enim. Ipsam officia culpa sequi suscipit repudiandae ipsa tempora inventore architecto exercitationem, nulla, eligendi maxime ratione nobis quaerat. Ea veritatis reprehenderit optio ab saepe beatae.
      </div>
    </div>
  
    <br><br>
  
    <div class="alert primary">
      <div class="alert-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </div>
    </div>
  
    <br><br>
  
    <div class="alert alert-bottom animation-slide-bottom">
      <div class="alert-body">
          <button class="close" data-close></button>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, repellat optio labore doloremque quam magni qui eius id accusamus accusantium dolor reiciendis necessitatibus quisquam, odio, odit animi nam illo laudantium.
            Quisquam nulla ex possimus hic enim. Ipsam officia culpa sequi suscipit repudiandae ipsa tempora inventore architecto exercitationem, nulla, eligendi maxime ratione nobis quaerat. Ea veritatis reprehenderit optio ab saepe beatae.</p>
      </div>
    </div>

    <div class="alert alert-top animation-slide-top">
      <div class="alert-body">
          <button class="close" data-close></button>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, repellat optio labore doloremque quam magni qui eius id accusamus accusantium dolor reiciendis necessitatibus quisquam, odio, odit animi nam illo laudantium.
            Quisquam nulla ex possimus hic enim. Ipsam officia culpa sequi suscipit repudiandae ipsa tempora inventore architecto exercitationem, nulla, eligendi maxime ratione nobis quaerat. Ea veritatis reprehenderit optio ab saepe beatae.</p>
      </div>
    </div>
  </section>

  <script type="module" src="../../dist/js/abilis.js"></script>
</body>
</html>