<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alert - Abilis</title>
  <link rel="stylesheet" href="../../dist/css/abilis.css" />
</head>
<body>
  <section class="container">

    <div class="alert">
      <div class="alert-header">
        <p>Hello World</p>
        <button class="close" data-close></button>
      </div>
      <div class="alert-body">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, repellat optio labore doloremque quam magni qui eius id accusamus accusantium dolor reiciendis necessitatibus quisquam, odio, odit animi nam illo laudantium.
        Quisquam nulla ex possimus hic enim. Ipsam officia culpa sequi suscipit repudiandae ipsa tempora inventore architecto exercitationem, nulla, eligendi maxime ratione nobis quaerat. Ea veritatis reprehenderit optio ab saepe beatae.
      </div>
    </div>
  
    <br><br>
  
    <div class="alert primary">
      <div class="alert-header">
        <p>Hello World</p>
        <button class="close" data-close></button>
      </div>
      <div class="alert-body">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, repellat optio labore doloremque quam magni qui eius id accusamus accusantium dolor reiciendis necessitatibus quisquam, odio, odit animi nam illo laudantium.
        Quisquam nulla ex possimus hic enim. Ipsam officia culpa sequi suscipit repudiandae ipsa tempora inventore architecto exercitationem, nulla, eligendi maxime ratione nobis quaerat. Ea veritatis reprehenderit optio ab saepe beatae.
      </div>
    </div>
  
    <br><br>
  
    <div class="alert primary">
      <div class="alert-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </div>
    </div>
  
    <br><br>
  
    <div class="alert alert-top animation-slide-top tertiary">
      <div class="alert-body grid grid-12 bg-tertiary">
          <div class="column-12 column-md-9 align-items-center text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</div>
          <div class="column-12 column-md-3 align-items-center">
            <button class="button button-white text-tertiary w-100">En savoir plus</button>
            <button class="ml-20 close close-simple close-white" data-close></button>
          </div>
      </div>
    </div>

    <!-- <div class="alert alert-top floating animation-slide-top tertiary">
      <div class="alert-body columns justify-content-space-between">
          <div class="column-12 column-md-9 column-xl-10 align-items-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</div>
          <div class="column-12 column-md-3 column-xl-2 align-items-center">
            <button class="button button-white text-tertiary w-100">En savoir plus</button>
            <button class="ml-15 close close-tertiary close-simple" data-close></button>
          </div>
      </div>
    </div> -->

    <div class="alert alert-bottom floating animation-slide-bottom tertiary">
      <div class="alert-body grid grid-12 bg-tertiary">
          <div class="column-12 column-md-9 align-items-center text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</div>
          <div class="column-12 column-md-3 align-items-center">
            <button class="button button-white text-tertiary w-100">En savoir plus</button>
            <button class="ml-20 close close-simple close-white" data-close></button>
          </div>
      </div>
    </div>
  </section>

  <script type="module" src="../../dist/js/abilis.js"></script>
</body>
</html>