<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Button - Abilis</title>
  <link rel="stylesheet" href="../../dist/css/components.css" />
</head>
<body>
  <section class="container">

    <div class="alert">
      <div class="alert-header">
        <p>Hello World</p>
        <button class="close" data-close></button>
      </div>
      <div class="alert-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa laborum, delectus quasi modi vitae error rem molestias nostrum, similique numquam saepe suscipit, totam impedit voluptas a vel omnis aut ducimus!
      </div>
    </div>
  
    <br><br>
  
    <div class="alert">
      <div class="alert-header bg-primary">
        <p>Hello World</p>
        <button class="close" data-close></button>
      </div>
      <div class="alert-body bg-primary-light">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa laborum, delectus quasi modi vitae error rem molestias nostrum, similique numquam saepe suscipit, totam impedit voluptas a vel omnis aut ducimus!
      </div>
    </div>
  
    <br><br>
  
    <div class="alert bg-primary-light">
      <div class="alert-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </div>
    </div>
  
    <br><br>
  
    <div class="alert alert-bottom animation-slide-bottom">
      <div class="alert-body">
          <button class="close" data-close=""></button>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa laborum, delectus quasi modi vitae error rem molestias nostrum, similique numquam saepe suscipit, totam impedit voluptas a vel omnis aut ducimus!</p>
      </div>
    </div>

    <div class="alert alert-top animation-slide-top bg-tertiary-light">
      <div class="alert-body">
          <button class="close" data-close=""></button>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa laborum, delectus quasi modi vitae error rem molestias nostrum, similique numquam saepe suscipit, totam impedit voluptas a vel omnis aut ducimus!</p>
      </div>
    </div>
  </section>

  <script type="module" src="../../dist/js/abilis.js"></script>
</body>
</html>