<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Box - Abilis</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../dist/css/abilis.css" />
</head>
<body>
  <section class="container">

    <article class="box w-95 mx-auto">
        <div class="box-body">
            <div class="box-left">
                <img class="box-profile-pic round" src="../assets/img/200x200.png" alt="Image">
            </div>
            <div class="box-content">
                <div class="content">
                    <p>
                        <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                    </p>
                </div>
            </div>
        </div>
    </article>

    <article class="box w-95 mx-auto">
        <div class="box-body">
            <div class="box-content">
                <div class="content">
                    <p>
                        <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                    </p>
                </div>
            </div>
            <div class="box-right">
                <img class="box-profile-pic round" src="../assets/img/200x200.png" alt="Image">
            </div>
        </div>
    </article>

    <article class="box w-95 mx-auto">
        <div class="box-body">
            <div class="box-left">
                <img class="box-profile-pic round" src="../assets/img/200x200.png" alt="Image">
            </div>
            <div class="box-content">
                <div class="content">
                    <p>
                        <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                    </p>
                </div>
            </div>
        </div>
        
        <div class="box-footer">
            <div class="grid grid-4">
                <div class="mx-auto">
                    <a><span class="icon"><i class="fa fa-heart text-danger"></i></span></a>
                </div>
                <div class="mx-auto">
                    <a><span class="icon"><i class="fa fa-comment"></i></span></a>
                </div>
                <div class="mx-auto">
                    <a><span class="icon"><i class="fa fa-retweet"></i></span></a>
                </div>
                <div class="mx-auto">
                    <a><span class="icon"><i class="fa fa-paper-plane"></i></span></a>
                </div>
            </div>
        </div>
    </article>

    <br><br>

    <div class="box box-container">
        I'm in a box.
    </div>

    <div class="box box-container bg-primary">
        I'm in a box.
    </div>

    <br><br>

    <form class="box w-500 mx-auto">
        <div class="box-header text-center h5 bg-primary">
            Connexion
        </div>

        <div class="box-container">
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" type="email" placeholder="e.g. alex@example.com">
                </div>
            </div>
            
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" type="password" placeholder="********">
                </div>
            </div>
            
            <button class="button button-primary mx-auto mt-20">Sign in</button>
        </div>
    </form>

  </section>

</body>
</html>