<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Breadcrumb - Abilis</title>
  <link rel="stylesheet" href="../../dist/css/abilis.css" />
</head>
<body>
  <section class="container">

    <nav class="breadcrumb small" aria-label="breadcrumbs">
      <ol>
        <li><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li class="active">Product</li>
      </ol>
    </nav>

    <br>

    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ol>
        <li><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li class="active">Product</li>
      </ol>
    </nav>

    <br>

    <nav class="breadcrumb big" aria-label="breadcrumbs">
      <ol>
        <li><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li class="active">Product</li>
      </ol>
    </nav>

    <br>

    <nav class="breadcrumb slash" aria-label="breadcrumbs">
      <ol>
        <li><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li class="active">Product</li>
      </ol>
    </nav>

    <br>

    <nav class="breadcrumb small-dot" aria-label="breadcrumbs">
      <ol>
        <li><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li class="active">Product</li>
      </ol>
    </nav>

    <br>

    <nav class="breadcrumb dot" aria-label="breadcrumbs">
      <ol>
        <li><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li class="active">Product</li>
      </ol>
    </nav>

    <br>

    <nav class="breadcrumb pipe" aria-label="breadcrumbs">
      <ol>
        <li><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li class="active">Product</li>
      </ol>
    </nav>

    <br>

    <nav class="breadcrumb arrow" aria-label="breadcrumbs">
      <ol>
        <li><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li class="active">Product</li>
      </ol>
    </nav>

  </section>

</body>
</html>