<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Button - Abilis</title>
  <link rel="stylesheet" href="../../dist/css/components.css" />
</head>
<body>
  <section class="container">

    <div class="container">
      <nav class="breadcrumb" aria-label="breadcrumbs">
          <ol>
            <li><a href="#">Bulma</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Components</a></li>
            <li class="active">Breadcrumb</li>
          </ol>
      </nav>
    </div>
    
    <div class="container d-flex justify-content-center">
      <nav class="breadcrumb" aria-label="breadcrumbs">
          <ol>
            <li><a href="#">Bulma</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Components</a></li>
            <li class="active">Breadcrumb</li>
          </ol>
      </nav>
    </div>
    
    <div class="container d-flex justify-content-flex-end">
      <nav class="breadcrumb" aria-label="breadcrumbs">
          <ol>
            <li><a href="#">Bulma</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Components</a></li>
            <li class="active">Breadcrumb</li>
          </ol>
      </nav>
    </div>
    
    <div class="container">
      <nav class="breadcrumb slash" aria-label="breadcrumbs">
          <ol>
            <li><a href="#">Bulma</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Components</a></li>
            <li class="active">Breadcrumb</a></li>
          </ol>
      </nav>
    </div>
    
    <div class="container">
      <nav class="breadcrumb dot" aria-label="breadcrumbs">
          <ol>
            <li><a href="#">Bulma</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Components</a></li>
            <li class="active">Breadcrumb</li>
          </ol>
      </nav>
    </div>
    
    <div class="container">
      <nav class="breadcrumb small-dot" aria-label="breadcrumbs">
          <ol>
            <li><a href="#">Bulma</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Components</a></li>
            <li class="active">Breadcrumb</li>
          </ol>
      </nav>
    </div>
    
    <div class="container">
      <nav class="breadcrumb arrow" aria-label="breadcrumbs">
          <ol>
            <li><a href="#">Bulma</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Components</a></li>
            <li class="active">Breadcrumb</li>
          </ol>
      </nav>
    </div>
    
    <div class="container">
      <nav class="breadcrumb pipe" aria-label="breadcrumbs">
          <ol>
            <li><a href="#">Bulma</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Components</a></li>
            <li class="active">Breadcrumb</li>
          </ol>
      </nav>
    </div>
    
    <div class="container">
      <nav class="breadcrumb small" aria-label="breadcrumbs">
          <ol>
            <li><a href="#">Bulma</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Components</a></li>
            <li class="active">Breadcrumb</li>
          </ol>
      </nav>
    </div>
    
    <div class="container">
      <nav class="breadcrumb" aria-label="breadcrumbs">
          <ol>
            <li><a href="#">Bulma</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Components</a></li>
            <li class="active">Breadcrumb</li>
          </ol>
      </nav>
    </div>
    
    <div class="container">
      <nav class="breadcrumb big" aria-label="breadcrumbs">
          <ol>
            <li><a href="#">Bulma</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Components</a></li>
            <li class="active">Breadcrumb</li>
          </ol>
      </nav>
    </div>

  </section>

  <script type="module" src="../../dist/js/abilis.js"></script>
</body>
</html>