<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Button - Abilis</title>
  <link rel="stylesheet" href="../../dist/css/abilis.css" />
</head>
<body>
  <section class="container">
    <button class="button button-white">test</button>
    <button class="button button-gray-1">test</button>
    <button class="button button-gray-2">test</button>
    <button class="button button-gray-3">test</button>
    <button class="button button-gray-4">test</button>
    <button class="button button-gray-5">test</button>
    <button class="button button-gray-6">test</button>
    <button class="button button-gray-7">test</button>
    <button class="button button-gray-8">test</button>
    <button class="button button-gray-9">test</button>
    <button class="button button-black">test</button>
  
    <br><br>

    <button class="button button-red-0">test</button>
    <button class="button button-red-1">test</button>
    <button class="button button-red-2">test</button>
    <button class="button button-red-3">test</button>
    <button class="button button-red-4">test</button>
    <button class="button button-red-5">test</button>
    <button class="button button-red-6">test</button>
    <button class="button button-red-7">test</button>
    <button class="button button-red-8">test</button>
    <button class="button button-red-9">test</button>

    <br><br>

    <button class="button button-yellow-0">test</button>
    <button class="button button-yellow-1">test</button>
    <button class="button button-yellow-2">test</button>
    <button class="button button-yellow-3">test</button>
    <button class="button button-yellow-4">test</button>
    <button class="button button-yellow-5">test</button>
    <button class="button button-yellow-6">test</button>
    <button class="button button-yellow-7">test</button>
    <button class="button button-yellow-8">test</button>
    <button class="button button-yellow-9">test</button>

    <br><br>

    <button class="button button-green-0">test</button>
    <button class="button button-green-1">test</button>
    <button class="button button-green-2">test</button>
    <button class="button button-green-3">test</button>
    <button class="button button-green-4">test</button>
    <button class="button button-green-5">test</button>
    <button class="button button-green-6">test</button>
    <button class="button button-green-7">test</button>
    <button class="button button-green-8">test</button>
    <button class="button button-green-9">test</button>

    <br><br>

    <button class="button button-blue-0">test</button>
    <button class="button button-blue-1">test</button>
    <button class="button button-blue-2">test</button>
    <button class="button button-blue-3">test</button>
    <button class="button button-blue-4">test</button>
    <button class="button button-blue-5">test</button>
    <button class="button button-blue-6">test</button>
    <button class="button button-blue-7">test</button>
    <button class="button button-blue-8">test</button>
    <button class="button button-blue-9">test</button>

    <br><br>

    <button class="button button-purple-0">test</button>
    <button class="button button-purple-1">test</button>
    <button class="button button-purple-2">test</button>
    <button class="button button-purple-3">test</button>
    <button class="button button-purple-4">test</button>
    <button class="button button-purple-5">test</button>
    <button class="button button-purple-6">test</button>
    <button class="button button-purple-7">test</button>
    <button class="button button-purple-8">test</button>
    <button class="button button-purple-9">test</button>

    <br><br>

    <button class="button button-pink-0">test</button>
    <button class="button button-pink-1">test</button>
    <button class="button button-pink-2">test</button>
    <button class="button button-pink-3">test</button>
    <button class="button button-pink-4">test</button>
    <button class="button button-pink-5">test</button>
    <button class="button button-pink-6">test</button>
    <button class="button button-pink-7">test</button>
    <button class="button button-pink-8">test</button>
    <button class="button button-pink-9">test</button>

    <br><br>

    <button class="button button-type">test</button>
    <button class="button button-type primary">test</button>
    <button class="button button-type secondary">test</button>
    <button class="button button-type tertiary">test</button>
    <button class="button button-type info">test</button>
    <button class="button button-type success">test</button>
    <button class="button button-type warning">test</button>
    <button class="button button-type danger">test</button>

    <br><br>

    <button class="button button-type primary-light">test</button>
    <button class="button button-type secondary-light">test</button>
    <button class="button button-type tertiary-light">test</button>
    <button class="button button-type info-light">test</button>
    <button class="button button-type success-light">test</button>
    <button class="button button-type warning-light">test</button>
    <button class="button button-type danger-light">test</button>

    <br><br>

    <button class="button button-primary">test</button>
    <button class="button button-secondary">test</button>
    <button class="button button-tertiary">test</button>
    <button class="button button-info">test</button>
    <button class="button button-success">test</button>
    <button class="button button-warning">test</button>
    <button class="button button-danger">test</button>
  
    <br><br>
  
    <button class="button button-primary-light">test</button>
    <button class="button button-secondary-light">test</button>
    <button class="button button-tertiary-light">test</button>
    <button class="button button-info-light">test</button>
    <button class="button button-success-light">test</button>
    <button class="button button-warning-light">test</button>
    <button class="button button-danger-light">test</button>
  
    <br><br>
  
    <button class="button button-primary round">test</button>
    <button class="button button-secondary round">test</button>
    <button class="button button-tertiary round">test</button>
    <button class="button button-info round">test</button>
    <button class="button button-success round">test</button>
    <button class="button button-warning round">test</button>
    <button class="button button-danger round">test</button>
  
    <br><br>
  
    <button class="button button-outline-white">test</button>
    <button class="button button-outline-gray-1">test</button>
    <button class="button button-outline-gray-2">test</button>
    <button class="button button-outline-gray-3">test</button>
    <button class="button button-outline-gray-4">test</button>
    <button class="button button-outline-gray-5">test</button>
    <button class="button button-outline-gray-6">test</button>
    <button class="button button-outline-gray-7">test</button>
    <button class="button button-outline-gray-8">test</button>
    <button class="button button-outline-gray-9">test</button>
    <button class="button button-outline-black">test</button>
  
    <br><br>

    <button class="button button-outline-type">test</button>
    <button class="button button-outline-type primary">test</button>
    <button class="button button-outline-type secondary">test</button>
    <button class="button button-outline-type tertiary">test</button>
    <button class="button button-outline-type info">test</button>
    <button class="button button-outline-type success">test</button>
    <button class="button button-outline-type warning">test</button>
    <button class="button button-outline-type danger">test</button>

    <br><br>
  
    <button class="button button-outline-primary">test</button>
    <button class="button button-outline-secondary">test</button>
    <button class="button button-outline-tertiary">test</button>
    <button class="button button-outline-info">test</button>
    <button class="button button-outline-success">test</button>
    <button class="button button-outline-warning">test</button>
    <button class="button button-outline-danger">test</button>
  
    <br><br>
  
    <button class="button button-outline-primary-light">test</button>
    <button class="button button-outline-secondary-light">test</button>
    <button class="button button-outline-tertiary-light">test</button>
    <button class="button button-outline-info-light">test</button>
    <button class="button button-outline-success-light">test</button>
    <button class="button button-outline-warning-light">test</button>
    <button class="button button-outline-danger-light">test</button>
  
    <br><br>
  
    <button class="button button-outline-type round">test</button>
    <button class="button button-outline-primary round">test</button>
    <button class="button button-outline-secondary round">test</button>
    <button class="button button-outline-tertiary round">test</button>
    <button class="button button-outline-info round">test</button>
    <button class="button button-outline-success round">test</button>
    <button class="button button-outline-warning round">test</button>
    <button class="button button-outline-danger round">test</button>
  
    <br><br>
  
    <button class="button big button-gray-8">test</button>
    <button class="button button-gray-8">test</button>
    <button class="button small button-gray-8">test</button>
  
    <br><br>

    <button class="button big button-outline-gray-8">test</button>
    <button class="button button-outline-gray-8">test</button>
    <button class="button small button-outline-gray-8">test</button>
  
    <br><br>
  
    <div class="button-group">
      <button class="button button-gray-8">Left</button>
      <button class="button button-gray-8">Middle</button>
      <button class="button button-gray-8">Right</button>
    </div>
  
    <br><br>
  
    <div class="button-group">
      <button class="button button-outline-gray-8 active">Left</button>
      <button class="button button-outline-gray-8">Middle</button>
      <button class="button button-outline-gray-8">Right</button>
    </div>
  
    <br><br>
  
    <div class="button-group-vertical">
      <button class="button button-gray-8">Left</button>
      <button class="button button-gray-8">Middle</button>
      <button class="button button-gray-8">Right</button>
    </div>
  
    <br><br>
  
    <div class="button-group-vertical">
      <button class="button button-outline-gray-8">Left</button>
      <button class="button button-outline-gray-8">Middle</button>
      <button class="button button-outline-gray-8">Right</button>
    </div>
  </section>

  <script type="module" src="../../dist/js/abilis.js"></script>
</body>
</html>