<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Button - Abilis</title>
  <link rel="stylesheet" href="../../dist/css/abilis.css" />
</head>
<body>
  <section class="container">
    <button class="button button-white">test</button>
    <button class="button button-gray-1">test</button>
    <button class="button button-gray-2">test</button>
    <button class="button button-gray-3">test</button>
    <button class="button button-gray-4">test</button>
    <button class="button button-gray-5">test</button>
    <button class="button button-gray-6">test</button>
    <button class="button button-gray-7">test</button>
    <button class="button button-gray-8">test</button>
    <button class="button button-gray-9">test</button>
    <button class="button button-black">test</button>
  
    <br><br>
  
    <button class="button button-type">test</button>
    <button class="button button-type primary">test</button>
    <button class="button button-primary">test</button>
    <button class="button button-primary-2">test</button>
    <button class="button button-primary-3">test</button>
    <button class="button button-secondary">test</button>
    <button class="button button-tertiary">test</button>
    <button class="button button-info">test</button>
    <button class="button button-success">test</button>
    <button class="button button-warning">test</button>
    <button class="button button-danger">test</button>
  
    <br><br>
  
    <button class="button button-primary-light">test</button>
    <button class="button button-primary-2-light">test</button>
    <button class="button button-primary-3-light">test</button>
    <button class="button button-secondary-light">test</button>
    <button class="button button-tertiary-light">test</button>
    <button class="button button-info-light">test</button>
    <button class="button button-success-light">test</button>
    <button class="button button-warning-light">test</button>
    <button class="button button-danger-light">test</button>
  
    <br><br>
  
    <button class="button button-type round">test</button>
    <button class="button button-type primary round">test</button>
    <button class="button button-primary round">test</button>
    <button class="button button-primary-2 round">test</button>
    <button class="button button-primary-3 round">test</button>
    <button class="button button-secondary round">test</button>
    <button class="button button-tertiary round">test</button>
    <button class="button button-info round">test</button>
    <button class="button button-success round">test</button>
    <button class="button button-warning round">test</button>
    <button class="button button-danger round">test</button>
  
    <br><br>
  
    <button class="button big button-primary">test</button>
    <button class="button button-primary">test</button>
    <button class="button small button-primary">test</button>
  
    <br><br>
  
    <button class="button button-outline-white">test</button>
    <button class="button button-outline-gray-1">test</button>
    <button class="button button-outline-gray-2">test</button>
    <button class="button button-outline-gray-3">test</button>
    <button class="button button-outline-gray-4">test</button>
    <button class="button button-outline-gray-5">test</button>
    <button class="button button-outline-gray-6">test</button>
    <button class="button button-outline-gray-7">test</button>
    <button class="button button-outline-gray-8">test</button>
    <button class="button button-outline-gray-9">test</button>
    <button class="button button-outline-black">test</button>
  
    <br><br>
  
    <button class="button button-outline-type">test</button>
    <button class="button button-outline-type primary">test</button>
    <button class="button button-outline-primary">test</button>
    <button class="button button-outline-secondary">test</button>
    <button class="button button-outline-tertiary">test</button>
    <button class="button button-outline-info">test</button>
    <button class="button button-outline-success">test</button>
    <button class="button button-outline-warning">test</button>
    <button class="button button-outline-danger">test</button>
  
    <br><br>
  
    <button class="button button-outline-primary-light">test</button>
    <button class="button button-outline-secondary-light">test</button>
    <button class="button button-outline-tertiary-light">test</button>
    <button class="button button-outline-info-light">test</button>
    <button class="button button-outline-success-light">test</button>
    <button class="button button-outline-warning-light">test</button>
    <button class="button button-outline-danger-light">test</button>
  
    <br><br>
  
    <button class="button button-outline-type round">test</button>
    <button class="button button-outline-primary round">test</button>
    <button class="button button-outline-secondary round">test</button>
    <button class="button button-outline-tertiary round">test</button>
    <button class="button button-outline-info round">test</button>
    <button class="button button-outline-success round">test</button>
    <button class="button button-outline-warning round">test</button>
    <button class="button button-outline-danger round">test</button>
  
    <br><br>
  
    <button class="button big button-outline-primary">test</button>
    <button class="button button-outline-primary">test</button>
    <button class="button small button-outline-primary">test</button>
  
    <br><br>
  
    <div class="button-group">
      <button class="button button-primary">Left</button>
      <button class="button button-primary">Middle</button>
      <button class="button button-primary">Right</button>
    </div>
  
    <br><br>
  
    <div class="button-group">
      <button class="button button-outline-primary active">Left</button>
      <button class="button button-outline-primary">Middle</button>
      <button class="button button-outline-primary">Right</button>
    </div>
  
    <br><br>
  
    <div class="button-group-vertical">
      <button class="button button-primary">Left</button>
      <button class="button button-primary">Middle</button>
      <button class="button button-primary">Right</button>
    </div>
  
    <br><br>
  
    <div class="button-group-vertical">
      <button class="button button-outline-primary">Left</button>
      <button class="button button-outline-primary">Middle</button>
      <button class="button button-outline-primary">Right</button>
    </div>
  </section>

  <script type="module" src="../../dist/js/abilis.js"></script>
</body>
</html>