<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card - Abilis</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../dist/css/abilis.css" />
</head>
<body>
  <section class="container">

    <div class="grid centered grid-md-1 grid-lg-2 grid-xxl-3 gutter-5">
        <div class="card w-300">
            <img src="https://images.unsplash.com/photo-1646974005583-01e9a7b0b5f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80" class="card-img-top" alt="...">
            <div class="card-body content">
                <h5>Card title</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius esse sunt voluptas. Tenetur harum veniam illum.</p>
                <a href="#" class="button button-primary">More</a>
            </div>
        </div>

        <div class="card hovered w-300">
            <img src="https://images.unsplash.com/photo-1646974005583-01e9a7b0b5f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80" class="card-img-top" alt="...">
            <div class="card-body content">
                <h5>Card title</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius esse sunt voluptas. Tenetur harum veniam illum.</p>
                <a href="#" class="button button-primary">More</a>
            </div>
        </div>

        <div class="card card-shadow w-300">
            <img src="https://images.unsplash.com/photo-1646974005583-01e9a7b0b5f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80" class="card-img-top" alt="...">
            <div class="card-body content">
                <h5>Card title</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius esse sunt voluptas. Tenetur harum veniam illum.</p>
                <a href="#" class="button button-primary">More</a>
            </div>
        </div>

        <div class="card card-shadow hovered w-300">
            <img src="https://images.unsplash.com/photo-1646974005583-01e9a7b0b5f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80" class="card-img-top" alt="...">
            <div class="card-body content">
                <h5>Card title</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius esse sunt voluptas. Tenetur harum veniam illum.</p>
                <a href="#" class="button button-primary">More</a>
            </div>
        </div>

        <div class="card hovered-shadow w-300">
            <img src="https://images.unsplash.com/photo-1646974005583-01e9a7b0b5f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80" class="card-img-top" alt="...">
            <div class="card-body content">
                <h5>Card title</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius esse sunt voluptas. Tenetur harum veniam illum.</p>
                <a href="#" class="button button-primary">More</a>
            </div>
        </div>

        <div class="card hovered-shadow w-300">
            <div class="card-body content">
                <h5>Card title</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius esse sunt voluptas. Tenetur harum veniam illum.</p>
                <a href="#" class="button button-primary">More</a>
            </div>
            <img src="https://images.unsplash.com/photo-1646974005583-01e9a7b0b5f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80" class="card-img-bottom" alt="...">
        </div>
    </div>

    <br><br>

    <div class="grid centered grid-md-1 grid-lg-2 grid-xxl-3 gutter-5">
        <div class="card w-300">
            <div class="card-body content">
                <h5>Card title</h5>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        <div class="card w-300">
            <div class="card-header h5">
                Featured
            </div>
            <div class="card-body content">
                <h6>Special title treatment</h6>
                <p>With supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>

        <div class="card w-300">
            <div class="card-header h5">
                Featured
            </div>
            <div class="card-body content">
                <h6>Special title treatment</h6>
                <p>With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>

        <div class="card primary w-300">
            <div class="card-header h5">
                Featured
            </div>
            <div class="card-body content">
                <h6>Special title treatment</h6>
                <p>With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>

    <br><br>

    <div class="card bg-dark text-white w-400">
        <img src="https://images.unsplash.com/photo-1646974005583-01e9a7b0b5f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80" class="card-img" alt="...">
        <div class="card-img-body content text-white">
            <h5>Card title</h5>
            <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p>Last updated 3 mins ago</p>
        </div>
    </div>

    <br><br>

    <div class="card w-600">
        <div class="grid grid-12">
            <div class="column-4">
                <img src="https://images.unsplash.com/photo-1646974005583-01e9a7b0b5f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80" class="card-img-left img-resp h-100" alt="...">
            </div>
            <div class="column-8">
                <div class="card-body content">
                    <h5>Card title</h5>
                    <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    
    <br><br>

    <div class="card w-600">
        <div class="grid grid-12">
            <div class="column-8">
                <div class="card-body content">
                    <h5>Card title</h5>
                    <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="column-4">
                <img src="https://images.unsplash.com/photo-1646974005583-01e9a7b0b5f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80" class="card-img-right img-resp h-100" alt="...">
            </div>
        </div>
    </div>

  </section>

</body>
</html>