<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alert - Abilis</title>
  <link rel="stylesheet" href="../../dist/css/abilis.css" />
</head>
<body>
  <section class="container">

    <div class="justify-content-flex-start d-flex">
      <div class="dropdown">
        <a class="button button-outline-black">
          More
        </a>
        <ul class="drop middle bc-gray-8">
          <li class="dropdown-item">
            <a>About</a>
          </li>
          <li class="dropdown-item">
            <a>Jobs</a>
          </li>
          <li class="dropdown-item">
            <a>Contact</a>
          </li>
          <hr class="dropdown-divider">
          <li class="dropdown-item">
            <a>Report an issue</a>
          </li>
        </ul>
      </div>
    </div>

    <br><br>

    <div class="center-flex">
      <div class="dropdown dropdown-click">
        <a class="button button-outline-gray-8">
          More
        </a>
        <ul class="dropdown-menu box-shadow-3">
          <li class="dropdown-item">
            <a>About</a>
          </li>
          <li class="dropdown-item">
            <a>Jobs</a>
          </li>
          <li class="dropdown-item">
            <a>Contact</a>
          </li>
          <hr class="dropdown-divider">
          <li class="dropdown-item">
            <a>Report an issue</a>
          </li>
        </ul>
      </div>
    </div>

  </section>

  <script type="module" src="../../dist/js/abilis.js"></script>
</body>
</html>