<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagination - Abilis</title>
  <link rel="stylesheet" href="../../dist/css/abilis.css" />
</head>
<body>
  <section class="container">

    <div class="pagination info" role="navigation" aria-label="pagination">
        <a class="pagination-previous">Previous</a>
        <a class="pagination-next">Next page</a>
        <ul class="pagination-items">
            <li>
            <a class="pagination-item" aria-label="Goto page 1">1</a>
            </li>
            <li>
            <span class="pagination-ellipsis">&hellip;</span>
            </li>
            <li>
            <a class="pagination-item" aria-label="Goto page 45">45</a>
            </li>
            <li>
            <a class="pagination-item active" aria-label="Page 46" aria-current="page">46</a>
            </li>
            <li>
            <a class="pagination-item" aria-label="Goto page 47">47</a>
            </li>
            <li>
            <span class="pagination-ellipsis">&hellip;</span>
            </li>
            <li>
            <a class="pagination-item" aria-label="Goto page 86">86</a>
            </li>
        </ul>
    </div>

    <div class="pagination mt-50" role="navigation" aria-label="pagination">
        <a class="pagination-previous">Previous</a>
        <a class="pagination-next">Next page</a>
        <ul class="pagination-items center">
            <li><a class="pagination-item" aria-label="Goto page 1">1</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-item" aria-label="Goto page 45">45</a></li>
            <li><a class="pagination-item active" aria-label="Page 46" aria-current="page">46</a></li>
            <li><a class="pagination-item" aria-label="Goto page 47">47</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-item" aria-label="Goto page 86">86</a></li>
        </ul>
    </div>

    <div class="pagination mt-50" role="navigation" aria-label="pagination">
        <a class="pagination-previous">Previous</a>
        <a class="pagination-next">Next page</a>
        <ul class="pagination-items right">
            <li><a class="pagination-item" aria-label="Goto page 1">1</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-item" aria-label="Goto page 45">45</a></li>
            <li><a class="pagination-item active" aria-label="Page 46" aria-current="page">46</a></li>
            <li><a class="pagination-item" aria-label="Goto page 47">47</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-item" aria-label="Goto page 86">86</a></li>
        </ul>
    </div>

    <div class="pagination rounded mt-50" role="navigation" aria-label="pagination">
        <a class="pagination-previous">Previous</a>
        <a class="pagination-next">Next page</a>
        <ul class="pagination-items center">
            <li><a class="pagination-item" aria-label="Goto page 1">1</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-item" aria-label="Goto page 45">45</a></li>
            <li><a class="pagination-item active" aria-label="Page 46" aria-current="page">46</a></li>
            <li><a class="pagination-item" aria-label="Goto page 47">47</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-item" aria-label="Goto page 86">86</a></li>
        </ul>
    </div>

    <div class="pagination small mt-50" role="navigation" aria-label="pagination">
        <a class="pagination-previous">Previous</a>
        <a class="pagination-next">Next page</a>
        <ul class="pagination-items center">
            <li><a class="pagination-item" aria-label="Goto page 1">1</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-item" aria-label="Goto page 45">45</a></li>
            <li><a class="pagination-item active" aria-label="Page 46" aria-current="page">46</a></li>
            <li><a class="pagination-item" aria-label="Goto page 47">47</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-item" aria-label="Goto page 86">86</a></li>
        </ul>
    </div>

    <div class="pagination mt-50" role="navigation" aria-label="pagination">
        <a class="pagination-previous">Previous</a>
        <a class="pagination-next">Next page</a>
        <ul class="pagination-items center">
            <li><a class="pagination-item" aria-label="Goto page 1">1</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-item" aria-label="Goto page 45">45</a></li>
            <li><a class="pagination-item active" aria-label="Page 46" aria-current="page">46</a></li>
            <li><a class="pagination-item" aria-label="Goto page 47">47</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-item" aria-label="Goto page 86">86</a></li>
        </ul>
    </div>

    <div class="pagination big mt-50" role="navigation" aria-label="pagination">
        <a class="pagination-previous">Previous</a>
        <a class="pagination-next">Next page</a>
        <ul class="pagination-items center">
            <li><a class="pagination-item" aria-label="Goto page 1">1</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-item" aria-label="Goto page 45">45</a></li>
            <li><a class="pagination-item active" aria-label="Page 46" aria-current="page">46</a></li>
            <li><a class="pagination-item" aria-label="Goto page 47">47</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-item" aria-label="Goto page 86">86</a></li>
        </ul>
    </div>

    <div class="pagination mt-50" role="navigation" aria-label="pagination">
        <a class="pagination-previous">Previous</a>
        <a class="pagination-next">Next page</a>
        <ul class="pagination-items center">
            <li><a class="pagination-item" aria-label="Goto page 1">1</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-item" aria-label="Goto page 45">45</a></li>
            <li><a class="pagination-item active" aria-label="Page 46" aria-current="page">46</a></li>
            <li><a class="pagination-item" aria-label="Goto page 47">47</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-item" aria-label="Goto page 86">86</a></li>
        </ul>
    </div>

    <div class="pagination mt-50" role="navigation" aria-label="pagination">
        <ul class="pagination-items center">
            <li><a class="pagination-item" aria-label="Goto page 45">1</a></li>
            <li><a class="pagination-item active" aria-label="Page 46" aria-current="page">2</a></li>
            <li><a class="pagination-item" aria-label="Goto page 47">3</a></li>
        </ul>
    </div>

    <div class="pagination spaceless mt-50" role="navigation" aria-label="pagination">
      <a class="pagination-previous icon-previous"></a>
      <a class="pagination-next icon-next"></a>
      <ul class="pagination-items center">
          <li><a class="pagination-item" aria-label="Goto page 1">1</a></li>
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          <li><a class="pagination-item" aria-label="Goto page 45">45</a></li>
          <li><a class="pagination-item active" aria-label="Page 46" aria-current="page">46</a></li>
          <li><a class="pagination-item" aria-label="Goto page 47">47</a></li>
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          <li><a class="pagination-item" aria-label="Goto page 86">86</a></li>
      </ul>
    </div>

  </section>

  <script type="module" src="../../dist/js/abilis.js"></script>
</body>
</html>