<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sidebar - Abilis</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../dist/css/abilis.css" />
</head>
<body>
    
  <aside class="sidebar sidebar-menu bg-gray-1">
    <p class="sidebar-title">
      General
    </p>
    <ul class="sidebar-items">
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">Customers</a></li>
    </ul>
    <p class="sidebar-title">
      Administration
    </p>
    <ul class="sidebar-items">
      <li><a href="#">Team Settings</a></li>
      <li class="sidebar-drop">
        <a class="sidebar-drop-title active">Manage Your Team</a>
        <ul class="sidebar-drop-body active">
            <li><a href="#">Members</a></li>
            <li><a href="#">Plugins</a></li>
            <li><a href="#">Add a member</a></li>
        </ul>
      </li>
      <li><a href="#">Invitations</a></li>
      <li><a href="#">Cloud Storage Environment Settings</a></li>
      <li><a href="#">Authentication</a></li>
    </ul>
    <p class="sidebar-title">
      Transactions
    </p>
    <ul class="sidebar-items">
      <li><a href="#">Payments</a></li>
      <li><a href="#">Transfers</a></li>
      <li><a href="#">Balance</a></li>
    </ul>
  </aside>

  <aside class="sidebar sidebar-menu bg-gray-1 right small">
    <p class="sidebar-title">
      General
    </p>
    <ul class="sidebar-items">
      <li><a>Dashboard</a></li>
      <li><a>Customers</a></li>
    </ul>
    <p class="sidebar-title">
      Administration
    </p>
    <ul class="sidebar-items">
      <li><a>Team Settings</a></li>
      <li class="sidebar-drop">
        <a class="sidebar-drop-title active">Manage Your Team</a>
        <ul class="sidebar-drop-body active">
            <li>
                <a>Members</a>
                <ul>
                    <li><a>Members</a></li>
                    <li><a>Plugins</a></li>
                    <li><a>Add a member</a></li>
                </ul>
            </li>
            <li><a>Plugins</a></li>
            <li><a>Add a member</a></li>
        </ul>
      </li>
      <li><a>Invitations</a></li>
      <li><a>Cloud Storage Environment Settings</a></li>
      <li><a>Authentication</a></li>
    </ul>
    <p class="sidebar-title">
      Transactions
    </p>
    <ul class="sidebar-items">
      <li><a>Payments</a></li>
      <li><a>Transfers</a></li>
      <li><a>Balance</a></li>
    </ul>
  </aside>

  <aside class="sidebar mx-auto mt-80">
    <p class="sidebar-title">
      General
    </p>
    <ul class="sidebar-items">
      <li><a>Dashboard</a></li>
      <li><a>Customers</a></li>
    </ul>
    <p class="sidebar-title">
      Administration
    </p>
    <ul class="sidebar-items">
      <li><a>Team Settings</a></li>
      <li class="sidebar-drop">
        <a class="sidebar-drop-title active">Manage Your Team</a>
        <ul class="sidebar-drop-body active">
            <li>
                <a>Members</a>
                <ul>
                    <li><a>Members</a></li>
                    <li><a>Plugins</a></li>
                    <li><a>Add a member</a></li>
                </ul>
            </li>
            <li><a>Plugins</a></li>
            <li><a>Add a member</a></li>
        </ul>
      </li>
      <li><a>Invitations</a></li>
      <li><a>Cloud Storage Environment Settings</a></li>
      <li><a>Authentication</a></li>
    </ul>
  </aside>

  <aside class="sidebar sidebar-menu bg-gray-1 above-navbar mobile-menu right" id="toggleMenu">
    <button class="close close-simple close-primary"></button>
    <p class="sidebar-title">
      General
    </p>
    <ul class="sidebar-items">
      <li><a>Dashboard</a></li>
      <li><a>Customers</a></li>
    </ul>
    <p class="sidebar-title">
      Administration
    </p>
    <ul class="sidebar-items">
      <li><a>Team Settings</a></li>
      <li class="sidebar-drop">
        <a class="sidebar-drop-title active">Manage Your Team</a>
        <ul class="sidebar-drop-body">
            <li>
                <a>Members</a>
                <ul>
                    <li><a>Members</a></li>
                    <li><a>Plugins</a></li>
                    <li><a>Add a member</a></li>
                </ul>
            </li>
            <li><a>Plugins</a></li>
            <li><a>Add a member</a></li>
        </ul>
      </li>
      <li><a>Invitations</a></li>
      <li><a>Cloud Storage Environment Settings</a></li>
      <li><a>Authentication</a></li>
    </ul>
  </aside>

</body>
</html>