<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spinners - Abilis</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../dist/css/abilis.css" />
</head>
<body>
  <section class="container">
      
    <div class="spinner-loader small mx-auto"></div>

    <br><br>
    
    <div class="spinner-loader mx-auto"></div>

    <br><br>

    <div class="spinner-loader big mx-auto"></div>

    <br><br>

    <div class="spinner-loader primary mx-auto"></div>

    <br><br>

    <div class="spinner-loader-circle small mx-auto">
      <span class="spinner-circle"></span>
      <span class="spinner-circle"></span>
      <span class="spinner-circle"></span>
      <span class="spinner-circle"></span>
      <span class="spinner-circle"></span>
    </div>

    <br><br>
      
    <div class="spinner-loader-circle mx-auto">
      <span class="spinner-circle"></span>
      <span class="spinner-circle"></span>
      <span class="spinner-circle"></span>
      <span class="spinner-circle"></span>
      <span class="spinner-circle"></span>
    </div>

    <br><br>
      
    <div class="spinner-loader-circle big small mx-auto">
      <span class="spinner-circle"></span>
      <span class="spinner-circle"></span>
      <span class="spinner-circle"></span>
      <span class="spinner-circle"></span>
      <span class="spinner-circle"></span>
    </div>

    <br><br>

    <div class="spinner-loader-circle primary mx-auto">
      <span class="spinner-circle"></span>
      <span class="spinner-circle"></span>
      <span class="spinner-circle"></span>
      <span class="spinner-circle"></span>
      <span class="spinner-circle"></span>
    </div>

    <br><br>

    <div class="card w-300 mx-auto">
      <div class="skeleton" style="height: 200px;"></div>
      <div class="card-body">
          <div class="skeleton skeleton-text"></div>
          <div class="skeleton skeleton-text"></div>
          <div class="skeleton skeleton-button mt-15"></div>
      </div>
    </div>

    <br><br>

    <div class="spinner-ellipsis-scale small center-flex">
      <div class="spinner-circle one"></div>
      <div class="spinner-circle two"></div>
      <div class="spinner-circle three"></div>
    </div>

    <br><br>

    <div class="spinner-ellipsis-scale center-flex">
      <div class="spinner-circle one"></div>
      <div class="spinner-circle two"></div>
      <div class="spinner-circle three"></div>
    </div>

    <br><br>

    <div class="spinner-ellipsis-scale big center-flex">
      <div class="spinner-circle one"></div>
      <div class="spinner-circle two"></div>
      <div class="spinner-circle three"></div>
    </div>

    <br><br>

    <div class="spinner-ellipsis-scale primary center-flex">
      <div class="spinner-circle one"></div>
      <div class="spinner-circle two"></div>
      <div class="spinner-circle three"></div>
    </div>

    <br><br>

    <div class="spinner-ellipsis-bar small mx-auto">
      <div class="spinner-circle one"></div>
      <div class="spinner-circle two"></div>
      <div class="spinner-circle three"></div>
    </div>

    <br><br>

    <div class="spinner-ellipsis-bar mx-auto">
      <div class="spinner-circle one"></div>
      <div class="spinner-circle two"></div>
      <div class="spinner-circle three"></div>
    </div>

    <br><br>

    <div class="spinner-ellipsis-bar big mx-auto">
      <div class="spinner-circle one"></div>
      <div class="spinner-circle two"></div>
      <div class="spinner-circle three"></div>
    </div>

    <br><br>

    <div class="spinner-ellipsis-bar primary mx-auto">
      <div class="spinner-circle one"></div>
      <div class="spinner-circle two"></div>
      <div class="spinner-circle three"></div>
    </div>

    <br><br>

    <div class="spinner-ellipsis small mx-auto">
      <div></div>
    </div>

    <br><br>

    <div class="spinner-ellipsis mx-auto">
      <div></div>
    </div>

    <br><br>

    <div class="spinner-ellipsis big mx-auto">
      <div></div>
    </div>

    <br><br>

    <div class="spinner-ellipsis primary mx-auto">
      <div></div>
    </div>

    <br><br>

    <div class="spinner-flip small mx-auto"></div>

    <br><br>

    <div class="spinner-flip mx-auto"></div>

    <br><br>

    <div class="spinner-flip big mx-auto"></div>

    <br><br>

    <div class="spinner-flip primary mx-auto"></div>

    <br><br>

    <div class="spinner-pulse small mx-auto"></div>

    <br><br>

    <div class="spinner-pulse mx-auto"></div>

    <br><br>

    <div class="spinner-pulse big mx-auto"></div>

    <br><br>

    <div class="spinner-pulse primary mx-auto"></div>

    <br><br>

    <div class="spinner-circle-border small mx-auto"></div>

    <br><br>

    <div class="spinner-circle-border mx-auto"></div>

    <br><br>

    <div class="spinner-circle-border big mx-auto"></div>

    <br><br>

    <div class="spinner-circle-border primary mx-auto"></div>

    <br><br>

    <div class="spinner-style-circle mx-auto">
      <div class="spinner-circle circle-1"></div>
      <div class="spinner-circle circle-2"></div>
      <div class="spinner-circle circle-3"></div>
      <div class="spinner-circle circle-4"></div>
    </div>

    <br><br>

    <div class="spinner-style-circle colored mx-auto">
      <div class="spinner-circle circle-1"></div>
      <div class="spinner-circle circle-2"></div>
      <div class="spinner-circle circle-3"></div>
      <div class="spinner-circle circle-4"></div>
    </div>

    <br><br>

    <div class="spinner-style-circle primary mx-auto">
      <div class="spinner-circle circle-1"></div>
      <div class="spinner-circle circle-2"></div>
      <div class="spinner-circle circle-3"></div>
      <div class="spinner-circle circle-4"></div>
    </div>

  </section>

</body>
</html>