<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tab - Abilis</title>
  <link rel="stylesheet" href="../../dist/css/abilis.css" />
</head>
<body>
  <section class="container">
    
    <div class="p-20 bw-1 bc-gray-2 bs-solid mx-auto br-10">
      <div class="tabs horizontal">
        <div class="tab">
          <div class="tab-title button" data-target="#tabContent1" data-active="button-outline-type">Tab 1</div>
          <div class="tab-title button" data-target="#tabContent2" data-active="button-outline-type">Tab 2</div>
          <div class="tab-title button" data-target="#tabContent3" data-active="button-outline-type">Tab 3</div>
        </div>
        
        <div class="tab-content">
          <div class="tab-item" id="tabContent1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum libero id nihil voluptate vel error sapiente? Similique, distinctio dicta minus deserunt cum nulla sit tempora quae, necessitatibus fuga aliquam voluptates.
            Voluptatibus, omnis? Est velit iusto dolore sunt maiores maxime vitae perferendis, aliquam mollitia eligendi incidunt iure consequuntur fugiat nemo blanditiis aut libero fugit cum voluptate ipsa eos nihil rem officiis?
            Reprehenderit dolore placeat tempore autem vero ab eaque velit sed atque aperiam, sapiente quasi, ex itaque odio soluta repellendus unde molestias aspernatur modi accusantium nihil ut. Est explicabo laborum vero.
          </div>
          <div class="tab-item" id="tabContent2">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum libero id nihil voluptate vel error sapiente? Similique, distinctio dicta minus deserunt cum nulla sit tempora quae, necessitatibus fuga aliquam voluptates.
            Voluptatibus, omnis? Est velit iusto dolore sunt maiores maxime vitae perferendis, aliquam mollitia eligendi incidunt iure consequuntur fugiat
          </div>
          <div class="tab-item" id="tabContent3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum libero id nihil voluptate vel error sapiente? Similique, distinctio dicta minus deserunt cum nulla sit tempora quae, necessitatibus fuga aliquam voluptates.
            Voluptatibus, omnis? Est velit iusto dolore sunt maiores maxime vitae perferendis, aliquam mollitia eligendi incidunt iure consequuntur fugiat nemo blanditiis aut libero fugit cum voluptate ipsa eos nihil rem officiis?
          </div>
        </div>
      </div>
    </div>
    
    <br><br>

    <div class="p-20 b-1 mx-auto br-10">
      <div class="tabs horizontal">
        <div class="tab justify-content-center">
          <div class="tab-title button" data-target="#tabContent1" data-active="button-outline-type">Tab 1</div>
          <div class="tab-title button" data-target="#tabContent2" data-active="button-outline-type">Tab 2</div>
          <div class="tab-title button" data-target="#tabContent3" data-active="button-outline-type">Tab 3</div>
        </div>
        
        <div class="tab-content">
          <div class="tab-item" id="tabContent1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum libero id nihil voluptate vel error sapiente? Similique, distinctio dicta minus deserunt cum nulla sit tempora quae, necessitatibus fuga aliquam voluptates.
            Voluptatibus, omnis? Est velit iusto dolore sunt maiores maxime vitae perferendis, aliquam mollitia eligendi incidunt iure consequuntur fugiat nemo blanditiis aut libero fugit cum voluptate ipsa eos nihil rem officiis?
            Reprehenderit dolore placeat tempore autem vero ab eaque velit sed atque aperiam, sapiente quasi, ex itaque odio soluta repellendus unde molestias aspernatur modi accusantium nihil ut. Est explicabo laborum vero.
          </div>
          <div class="tab-item" id="tabContent2">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum libero id nihil voluptate vel error sapiente? Similique, distinctio dicta minus deserunt cum nulla sit tempora quae, necessitatibus fuga aliquam voluptates.
            Voluptatibus, omnis? Est velit iusto dolore sunt maiores maxime vitae perferendis, aliquam mollitia eligendi incidunt iure consequuntur fugiat
          </div>
          <div class="tab-item" id="tabContent3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum libero id nihil voluptate vel error sapiente? Similique, distinctio dicta minus deserunt cum nulla sit tempora quae, necessitatibus fuga aliquam voluptates.
            Voluptatibus, omnis? Est velit iusto dolore sunt maiores maxime vitae perferendis, aliquam mollitia eligendi incidunt iure consequuntur fugiat nemo blanditiis aut libero fugit cum voluptate ipsa eos nihil rem officiis?
          </div>
        </div>
      </div>
    </div>
    
    <br><br>
    
    <div class="p-20 b-1 mx-auto br-10">
      <div class="tabs horizontal">
        <div class="tab justify-content-end">
          <div class="tab-title button" data-target="#tabContent1" data-active="button-outline-type">Tab 1</div>
          <div class="tab-title button" data-target="#tabContent2" data-active="button-outline-type">Tab 2</div>
          <div class="tab-title button" data-target="#tabContent3" data-active="button-outline-type">Tab 3</div>
        </div>
        
        <div class="tab-content">
          <div class="tab-item" id="tabContent1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum libero id nihil voluptate vel error sapiente? Similique, distinctio dicta minus deserunt cum nulla sit tempora quae, necessitatibus fuga aliquam voluptates.
            Voluptatibus, omnis? Est velit iusto dolore sunt maiores maxime vitae perferendis, aliquam mollitia eligendi incidunt iure consequuntur fugiat nemo blanditiis aut libero fugit cum voluptate ipsa eos nihil rem officiis?
            Reprehenderit dolore placeat tempore autem vero ab eaque velit sed atque aperiam, sapiente quasi, ex itaque odio soluta repellendus unde molestias aspernatur modi accusantium nihil ut. Est explicabo laborum vero.
          </div>
          <div class="tab-item" id="tabContent2">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum libero id nihil voluptate vel error sapiente? Similique, distinctio dicta minus deserunt cum nulla sit tempora quae, necessitatibus fuga aliquam voluptates.
            Voluptatibus, omnis? Est velit iusto dolore sunt maiores maxime vitae perferendis, aliquam mollitia eligendi incidunt iure consequuntur fugiat
          </div>
          <div class="tab-item" id="tabContent3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum libero id nihil voluptate vel error sapiente? Similique, distinctio dicta minus deserunt cum nulla sit tempora quae, necessitatibus fuga aliquam voluptates.
            Voluptatibus, omnis? Est velit iusto dolore sunt maiores maxime vitae perferendis, aliquam mollitia eligendi incidunt iure consequuntur fugiat nemo blanditiis aut libero fugit cum voluptate ipsa eos nihil rem officiis?
          </div>
        </div>
      </div>
    </div>
    
    <br><br>
    
    <div class="p-20 b-1 mx-auto br-10">
      <div class="tabs vertical">
        <div class="tab">
          <div class="tab-title button" data-target="#tabContent1" data-active="button-outline-type">Tab 1</div>
          <div class="tab-title button" data-target="#tabContent2" data-active="button-outline-type">Tab 2</div>
          <div class="tab-title button" data-target="#tabContent3" data-active="button-outline-type">Tab 3</div>
        </div>
        
        <div class="tab-content">
          <div class="tab-item" id="tabContent1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum libero id nihil voluptate vel error sapiente? Similique, distinctio dicta minus deserunt cum nulla sit tempora quae, necessitatibus fuga aliquam voluptates.
            Voluptatibus, omnis? Est velit iusto dolore sunt maiores maxime vitae perferendis, aliquam mollitia eligendi incidunt iure consequuntur fugiat nemo blanditiis aut libero fugit cum voluptate ipsa eos nihil rem officiis?
            Reprehenderit dolore placeat tempore autem vero ab eaque velit sed atque aperiam, sapiente quasi, ex itaque odio soluta repellendus unde molestias aspernatur modi accusantium nihil ut. Est explicabo laborum vero.
          </div>
          <div class="tab-item" id="tabContent2">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum libero id nihil voluptate vel error sapiente? Similique, distinctio dicta minus deserunt cum nulla sit tempora quae, necessitatibus fuga aliquam voluptates.
            Voluptatibus, omnis? Est velit iusto dolore sunt maiores maxime vitae perferendis, aliquam mollitia eligendi incidunt iure consequuntur fugiat
          </div>
          <div class="tab-item" id="tabContent3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum libero id nihil voluptate vel error sapiente? Similique, distinctio dicta minus deserunt cum nulla sit tempora quae, necessitatibus fuga aliquam voluptates.
            Voluptatibus, omnis? Est velit iusto dolore sunt maiores maxime vitae perferendis, aliquam mollitia eligendi incidunt iure consequuntur fugiat nemo blanditiis aut libero fugit cum voluptate ipsa eos nihil rem officiis?
          </div>
        </div>
      </div>
    </div>
    
    <br><br>
    
    <div class="p-20 b-1 mx-auto br-10">
      <div class="tabs vertical right">
        <div class="tab">
          <div class="tab-title button" data-target="#tabContent1" data-active="button-outline-type">Tab 1</div>
          <div class="tab-title button" data-target="#tabContent2" data-active="button-outline-type">Tab 2</div>
          <div class="tab-title button" data-target="#tabContent3" data-active="button-outline-type">Tab 3</div>
        </div>
        
        <div class="tab-content">
          <div class="tab-item" id="tabContent1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum libero id nihil voluptate vel error sapiente? Similique, distinctio dicta minus deserunt cum nulla sit tempora quae, necessitatibus fuga aliquam voluptates.
            Voluptatibus, omnis? Est velit iusto dolore sunt maiores maxime vitae perferendis, aliquam mollitia eligendi incidunt iure consequuntur fugiat nemo blanditiis aut libero fugit cum voluptate ipsa eos nihil rem officiis?
            Reprehenderit dolore placeat tempore autem vero ab eaque velit sed atque aperiam, sapiente quasi, ex itaque odio soluta repellendus unde molestias aspernatur modi accusantium nihil ut. Est explicabo laborum vero.
          </div>
          <div class="tab-item" id="tabContent2">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum libero id nihil voluptate vel error sapiente? Similique, distinctio dicta minus deserunt cum nulla sit tempora quae, necessitatibus fuga aliquam voluptates.
            Voluptatibus, omnis? Est velit iusto dolore sunt maiores maxime vitae perferendis, aliquam mollitia eligendi incidunt iure consequuntur fugiat
          </div>
          <div class="tab-item" id="tabContent3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum libero id nihil voluptate vel error sapiente? Similique, distinctio dicta minus deserunt cum nulla sit tempora quae, necessitatibus fuga aliquam voluptates.
            Voluptatibus, omnis? Est velit iusto dolore sunt maiores maxime vitae perferendis, aliquam mollitia eligendi incidunt iure consequuntur fugiat nemo blanditiis aut libero fugit cum voluptate ipsa eos nihil rem officiis?
          </div>
        </div>
      </div>
    </div>
    
    <br><br>
    
    <div class="mx-auto">
      <div class="tabs horizontal styled">
        <div class="tab">
          <div class="tab-title" data-target="#tabContent1">Tab 1</div>
          <div class="tab-title" data-target="#tabContent2">Tab 2</div>
          <div class="tab-title" data-target="#tabContent3">Tab 3</div>
        </div>
        
        <div class="tab-content">
          <div class="tab-item" id="tabContent1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
          </div>
          <div class="tab-item" id="tabContent2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
          </div>
          <div class="tab-item" id="tabContent3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
          </div>
        </div>
      </div>
    </div>
    
    <br><br>
    
    <div class="mx-auto">
      <div class="tabs horizontal styled">
        <div class="tab justify-content-center">
          <div class="tab-title" data-target="#tabContent1">Tab 1</div>
          <div class="tab-title" data-target="#tabContent2">Tab 2</div>
          <div class="tab-title" data-target="#tabContent3">Tab 3</div>
        </div>
        
        <div class="tab-content">
          <div class="tab-item" id="tabContent1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
          </div>
          <div class="tab-item" id="tabContent2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
          </div>
          <div class="tab-item" id="tabContent3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
          </div>
        </div>
      </div>
    </div>
    
    <br><br>
    
    <div class="mx-auto">
      <div class="tabs horizontal styled">
        <div class="tab justify-content-end">
          <div class="tab-title" data-target="#tabContent1">Tab 1</div>
          <div class="tab-title" data-target="#tabContent2">Tab 2</div>
          <div class="tab-title" data-target="#tabContent3">Tab 3</div>
        </div>
        
        <div class="tab-content">
          <div class="tab-item" id="tabContent1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
          </div>
          <div class="tab-item" id="tabContent2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
          </div>
          <div class="tab-item" id="tabContent3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
          </div>
        </div>
      </div>
    </div>
    
    <br><br>
    
    <div class="mx-auto">
      <div class="tabs horizontal styled boxed">
        <div class="tab">
          <div class="tab-title" data-target="#tabContent1">Tab 1</div>
          <div class="tab-title" data-target="#tabContent2">Tab 2</div>
          <div class="tab-title" data-target="#tabContent3">Tab 3</div>
        </div>
        
        <div class="tab-content">
          <div class="tab-item" id="tabContent1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
          </div>
          <div class="tab-item" id="tabContent2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
          </div>
          <div class="tab-item" id="tabContent3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
          </div>
        </div>
      </div>
    </div>
    
    <br><br>
    
    <div class="mx-auto">
      <div class="tabs horizontal styled boxed">
        <div class="tab justify-content-center">
          <div class="tab-title" data-target="#tabContent1">Tab 1</div>
          <div class="tab-title" data-target="#tabContent2">Tab 2</div>
          <div class="tab-title" data-target="#tabContent3">Tab 3</div>
        </div>
        
        <div class="tab-content">
          <div class="tab-item" id="tabContent1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
          </div>
          <div class="tab-item" id="tabContent2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
          </div>
          <div class="tab-item" id="tabContent3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
          </div>
        </div>
      </div>
    </div>
    
    <br><br>
    
    <div class="mx-auto">
      <div class="tabs horizontal styled boxed">
        <div class="tab justify-content-end">
          <div class="tab-title" data-target="#tabContent1">Tab 1</div>
          <div class="tab-title" data-target="#tabContent2">Tab 2</div>
          <div class="tab-title" data-target="#tabContent3">Tab 3</div>
        </div>
        
        <div class="tab-content">
          <div class="tab-item" id="tabContent1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
          </div>
          <div class="tab-item" id="tabContent2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
          </div>
          <div class="tab-item" id="tabContent3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
          </div>
        </div>
      </div>
    </div>
    
    <br><br>
    
    <div class="mx-auto">
      <div class="tabs horizontal styled boxed tabs-nav">
        <div class="tab">
          <div class="tab-title" data-target="#tabContent1">Tab 1</div>
          <div class="tab-title" data-target="#tabContent2">Tab 2</div>
          <div class="tab-title" data-target="#tabContent3">Tab 3</div>
        </div>
        
        <div class="tab-content">
          <div class="tab-item" id="tabContent1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
          </div>
          <div class="tab-item" id="tabContent2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
          </div>
          <div class="tab-item" id="tabContent3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
          </div>
        </div>
      </div>
    </div>
    
    <br><br>

    <div class="mx-auto">
      <div class="tabs horizontal styled boxed tabs-nav">
        <div class="tab justify-content-center">
          <div class="tab-title" data-target="#tabContent1">Tab 1</div>
          <div class="tab-title" data-target="#tabContent2">Tab 2</div>
          <div class="tab-title" data-target="#tabContent3">Tab 3</div>
        </div>
        
        <div class="tab-content">
          <div class="tab-item" id="tabContent1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
          </div>
          <div class="tab-item" id="tabContent2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
          </div>
          <div class="tab-item" id="tabContent3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
          </div>
        </div>
      </div>
    </div>

    <br><br>

    <div class="mx-auto">
      <div class="tabs horizontal styled boxed tabs-nav">
        <div class="tab justify-content-end">
          <div class="tab-title" data-target="#tabContent1">Tab 1</div>
          <div class="tab-title" data-target="#tabContent2">Tab 2</div>
          <div class="tab-title" data-target="#tabContent3">Tab 3</div>
        </div>
        
        <div class="tab-content">
          <div class="tab-item" id="tabContent1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
          </div>
          <div class="tab-item" id="tabContent2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
            Sit, quos autem odio totam voluptates tenetur aut dolore. Excepturi, est aliquam, nemo, laboriosam ullam necessitatibus nulla illo aspernatur ea quam libero? Facilis iste quis maxime beatae similique, non quos.
          </div>
          <div class="tab-item" id="tabContent3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo ducimus sunt error voluptas sint quas, quibusdam inventore nulla nemo neque id itaque quisquam blanditiis deserunt eos? Iste, ducimus deserunt.
            Incidunt, suscipit, voluptatibus tempore perspiciatis consequuntur vero dolorum minus dolor nulla accusantium et iusto harum a sunt sint dolores? Non voluptates id odit suscipit sit illo iste odio ex corporis!
          </div>
        </div>
      </div>
    </div>

    <br><br>
    
    <div class="mx-auto">
      <div class="tabs horizontal styled buttons">
        <div class="tab">
          <div class="tab-title" data-target="#tabContent1">Tab 1</div>
          <div class="tab-title" data-target="#tabContent2">Tab 2</div>
          <div class="tab-title" data-target="#tabContent3">Tab 3</div>
        </div>
        
        <div class="tab-content">
          <div class="tab-item" id="tabContent1">The tab 1</div>
          <div class="tab-item" id="tabContent2">The tab 2</div>
          <div class="tab-item" id="tabContent3">The tab 3</div>
        </div>
      </div>
    </div>
    
    <br><br>
    
    <div class="mx-auto">
      <div class="tabs horizontal styled buttons round">
        <div class="tab">
          <div class="tab-title" data-target="#tabContent1">Tab 1</div>
          <div class="tab-title" data-target="#tabContent2">Tab 2</div>
          <div class="tab-title" data-target="#tabContent3">Tab 3</div>
        </div>
        
        <div class="tab-content">
          <div class="tab-item" id="tabContent1">The tab 1</div>
          <div class="tab-item" id="tabContent2">The tab 2</div>
          <div class="tab-item" id="tabContent3">The tab 3</div>
        </div>
      </div>
    </div>
    
    <br><br>
    
    <div class="mx-auto">
      <div class="tabs horizontal styled full">
        <div class="tab">
          <div class="tab-title" data-target="#tabContent1">Tab 1</div>
          <div class="tab-title active" data-target="#tabContent2">Tab 2</div>
          <div class="tab-title" data-target="#tabContent3">Tab 3</div>
        </div>
        
        <div class="tab-content">
          <div class="tab-item" id="tabContent1">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla autem repellat sint accusamus culpa deleniti aliquid, mollitia, iure omnis molestias impedit! Quas magnam similique laborum ad? Modi quasi impedit iusto?
            Commodi, cumque dolores eos assumenda quibusdam aspernatur repellat id exercitationem, recusandae, officiis fugit in enim fuga a ab? Molestias perferendis autem totam illo eos fugiat, ullam similique fugit laudantium facilis!
          </div>
          <div class="tab-item" id="tabContent2">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae quod accusamus aliquid quaerat tempore ratione facere ad doloremque? Reiciendis, nesciunt nihil tempore delectus maxime labore id doloremque alias expedita sunt.
          </div>
          <div class="tab-item" id="tabContent3">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium ratione, dolor totam aspernatur sequi, quod odit itaque fugiat dolorum, quas minus laborum fugit assumenda neque officia at aperiam saepe? Ab.
            Quia pariatur eum eius ipsum ullam hic facere dolor velit animi dicta neque fugiat harum provident ducimus optio, consequuntur voluptatem accusantium eos nisi reiciendis laboriosam. Officia assumenda dolor error a?
            Officiis accusamus molestiae quia. Est excepturi molestias modi dolorum, repellendus debitis dolore explicabo iusto. Officiis sunt voluptatem placeat debitis maxime aut? Id beatae quam reiciendis dolor enim modi placeat dignissimos?
          </div>
        </div>
      </div>
    </div>
    
    <br><br>
    
    <div class="mx-auto">
      <div class="tabs horizontal styled buttons full">
        <div class="tab">
          <div class="tab-title" data-target="#tabContent1">Tab 1</div>
          <div class="tab-title active" data-target="#tabContent2">Tab 2</div>
          <div class="tab-title" data-target="#tabContent3">Tab 3</div>
        </div>
        
        <div class="tab-content">
          <div class="tab-item" id="tabContent1">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla autem repellat sint accusamus culpa deleniti aliquid, mollitia, iure omnis molestias impedit! Quas magnam similique laborum ad? Modi quasi impedit iusto?
            Commodi, cumque dolores eos assumenda quibusdam aspernatur repellat id exercitationem, recusandae, officiis fugit in enim fuga a ab? Molestias perferendis autem totam illo eos fugiat, ullam similique fugit laudantium facilis!
          </div>
          <div class="tab-item" id="tabContent2">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae quod accusamus aliquid quaerat tempore ratione facere ad doloremque? Reiciendis, nesciunt nihil tempore delectus maxime labore id doloremque alias expedita sunt.
          </div>
          <div class="tab-item" id="tabContent3">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium ratione, dolor totam aspernatur sequi, quod odit itaque fugiat dolorum, quas minus laborum fugit assumenda neque officia at aperiam saepe? Ab.
            Quia pariatur eum eius ipsum ullam hic facere dolor velit animi dicta neque fugiat harum provident ducimus optio, consequuntur voluptatem accusantium eos nisi reiciendis laboriosam. Officia assumenda dolor error a?
            Officiis accusamus molestiae quia. Est excepturi molestias modi dolorum, repellendus debitis dolore explicabo iusto. Officiis sunt voluptatem placeat debitis maxime aut? Id beatae quam reiciendis dolor enim modi placeat dignissimos?
          </div>
        </div>
      </div>
    </div>
    
    <br><br>
    
    <div class="mx-auto">
      <div class="tabs vertical styled">
        <div class="tab">
          <div class="tab-title" data-target="#tabContent1">Tab 1</div>
          <div class="tab-title active" data-target="#tabContent2">Tab 2</div>
          <div class="tab-title" data-target="#tabContent3">Tab 3</div>
        </div>
        
        <div class="tab-content">
          <div class="tab-item" id="tabContent1">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla autem repellat sint accusamus culpa deleniti aliquid, mollitia, iure omnis molestias impedit! Quas magnam similique laborum ad? Modi quasi impedit iusto?
            Commodi, cumque dolores eos assumenda quibusdam aspernatur repellat id exercitationem, recusandae, officiis fugit in enim fuga a ab? Molestias perferendis autem totam illo eos fugiat, ullam similique fugit laudantium facilis!
          </div>
          <div class="tab-item" id="tabContent2">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae quod accusamus aliquid quaerat tempore ratione facere ad doloremque? Reiciendis, nesciunt nihil tempore delectus maxime labore id doloremque alias expedita sunt.
          </div>
          <div class="tab-item" id="tabContent3">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium ratione, dolor totam aspernatur sequi, quod odit itaque fugiat dolorum, quas minus laborum fugit assumenda neque officia at aperiam saepe? Ab.
            Quia pariatur eum eius ipsum ullam hic facere dolor velit animi dicta neque fugiat harum provident ducimus optio, consequuntur voluptatem accusantium eos nisi reiciendis laboriosam. Officia assumenda dolor error a?
            Officiis accusamus molestiae quia. Est excepturi molestias modi dolorum, repellendus debitis dolore explicabo iusto. Officiis sunt voluptatem placeat debitis maxime aut? Id beatae quam reiciendis dolor enim modi placeat dignissimos?
          </div>
        </div>
      </div>
    </div>
    
    <br><br>
    
    <div class="mx-auto">
      <div class="tabs vertical styled boxed">
        <div class="tab">
          <div class="tab-title" data-target="#tabContent1">Tab 1</div>
          <div class="tab-title active" data-target="#tabContent2">Tab 2</div>
          <div class="tab-title" data-target="#tabContent3">Tab 3</div>
        </div>
        
        <div class="tab-content">
          <div class="tab-item" id="tabContent1">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla autem repellat sint accusamus culpa deleniti aliquid, mollitia, iure omnis molestias impedit! Quas magnam similique laborum ad? Modi quasi impedit iusto?
            Commodi, cumque dolores eos assumenda quibusdam aspernatur repellat id exercitationem, recusandae, officiis fugit in enim fuga a ab? Molestias perferendis autem totam illo eos fugiat, ullam similique fugit laudantium facilis!
          </div>
          <div class="tab-item" id="tabContent2">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae quod accusamus aliquid quaerat tempore ratione facere ad doloremque? Reiciendis, nesciunt nihil tempore delectus maxime labore id doloremque alias expedita sunt.
          </div>
          <div class="tab-item" id="tabContent3">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium ratione, dolor totam aspernatur sequi, quod odit itaque fugiat dolorum, quas minus laborum fugit assumenda neque officia at aperiam saepe? Ab.
            Quia pariatur eum eius ipsum ullam hic facere dolor velit animi dicta neque fugiat harum provident ducimus optio, consequuntur voluptatem accusantium eos nisi reiciendis laboriosam. Officia assumenda dolor error a?
            Officiis accusamus molestiae quia. Est excepturi molestias modi dolorum, repellendus debitis dolore explicabo iusto. Officiis sunt voluptatem placeat debitis maxime aut? Id beatae quam reiciendis dolor enim modi placeat dignissimos?
          </div>
        </div>
      </div>
    </div>
    
    <br><br>
    
    <div class="mx-auto">
      <div class="tabs vertical styled buttons">
        <div class="tab">
          <div class="tab-title" data-target="#tabContent1">Tab 1</div>
          <div class="tab-title active" data-target="#tabContent2">Tab 2</div>
          <div class="tab-title" data-target="#tabContent3">Tab 3</div>
        </div>
        
        <div class="tab-content">
          <div class="tab-item" id="tabContent1">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla autem repellat sint accusamus culpa deleniti aliquid, mollitia, iure omnis molestias impedit! Quas magnam similique laborum ad? Modi quasi impedit iusto?
            Commodi, cumque dolores eos assumenda quibusdam aspernatur repellat id exercitationem, recusandae, officiis fugit in enim fuga a ab? Molestias perferendis autem totam illo eos fugiat, ullam similique fugit laudantium facilis!
          </div>
          <div class="tab-item" id="tabContent2">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae quod accusamus aliquid quaerat tempore ratione facere ad doloremque? Reiciendis, nesciunt nihil tempore delectus maxime labore id doloremque alias expedita sunt.
          </div>
          <div class="tab-item" id="tabContent3">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium ratione, dolor totam aspernatur sequi, quod odit itaque fugiat dolorum, quas minus laborum fugit assumenda neque officia at aperiam saepe? Ab.
            Quia pariatur eum eius ipsum ullam hic facere dolor velit animi dicta neque fugiat harum provident ducimus optio, consequuntur voluptatem accusantium eos nisi reiciendis laboriosam. Officia assumenda dolor error a?
            Officiis accusamus molestiae quia. Est excepturi molestias modi dolorum, repellendus debitis dolore explicabo iusto. Officiis sunt voluptatem placeat debitis maxime aut? Id beatae quam reiciendis dolor enim modi placeat dignissimos?
          </div>
        </div>
      </div>
    </div>

  </section>

  <script type="module" src="../../dist/js/abilis.js"></script>
</body>
</html>