<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tag - Abilis</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../dist/css/abilis.css" />
</head>
<body>
  <section class="container">

    <span class="tag">Tag</span>

    <br><br>

    <span class="tag white">Tag</span>
    <span class="tag gray-1">Tag</span>
    <span class="tag gray-2">Tag</span>
    <span class="tag gray-3">Tag</span>
    <span class="tag gray-4">Tag</span>
    <span class="tag gray-5">Tag</span>
    <span class="tag gray-6">Tag</span>
    <span class="tag gray-7">Tag</span>
    <span class="tag gray-8">Tag</span>
    <span class="tag gray-9">Tag</span>
    <span class="tag dark">Tag</span>

    <br><br>

    <span class="tag primary-3">Tag</span>
    <span class="tag primary-2">Tag</span>
    <span class="tag primary">Tag</span>
    <span class="tag secondary">Tag</span>
    <span class="tag tertiary">Tag</span>
    <span class="tag info">Tag</span>
    <span class="tag success">Tag</span>
    <span class="tag warning">Tag</span>
    <span class="tag danger">Tag</span>

    <br><br>

    <span class="tag primary-3-light">Tag</span>
    <span class="tag primary-2-light">Tag</span>
    <span class="tag primary-light">Tag</span>
    <span class="tag secondary-light">Tag</span>
    <span class="tag tertiary-light">Tag</span>
    <span class="tag info-light">Tag</span>
    <span class="tag success-light">Tag</span>
    <span class="tag warning-light">Tag</span>
    <span class="tag danger-light">Tag</span>

    <br><br>

    <span class="tag primary normal">Tag</span>
    <span class="tag primary medium">Tag medium</span>
    <span class="tag primary big">Tag big</span>

    <br><br>

    <div class="tags medium">
      <span class="tag primary">Tag medium</span>
      <span class="tag primary">Tag medium</span>
      <span class="tag primary">Tag medium</span>
    </div>

    <br>

    <div class="tags big">
      <span class="tag primary">Tag big</span>
      <span class="tag primary">Tag big</span>
      <span class="tag primary">Tag big</span>
    </div>

    <br>

    <div class="tags medium">
      <span class="tag">Medium</span>
      <span class="tag normal">Normal</span>
      <span class="tag">Medium</span>
      <span class="tag big">Big</span>
      <span class="tag">Medium</span>
    </div>        

    <br><br>

    <span class="tag success">Bar<button class="close small"></button></span>
    <span class="tag warning medium">Hello<button class="close small"></button></span>
    <span class="tag danger big">World<button class="close"></button></span>

    <br><br>

    <div class="tags">
      <span class="tag">One</span>
      <span class="tag">Two</span>
      <span class="tag">Three</span>
      <span class="tag">Four</span>
      <span class="tag">Five</span>
      <span class="tag">Six</span>
      <span class="tag">Seven</span>
      <span class="tag">Eight</span>
      <span class="tag">Nine</span>
      <span class="tag">Ten</span>
      <span class="tag">Eleven</span>
      <span class="tag">Twelve</span>
      <span class="tag">Thirteen</span>
      <span class="tag">Fourteen</span>
      <span class="tag">Fifteen</span>
      <span class="tag">Sixteen</span>
      <span class="tag">Seventeen</span>
      <span class="tag">Eighteen</span>
      <span class="tag">Nineteen</span>
      <span class="tag">Twenty</span>
    </div>

    <br><br>

    <div class="tags group">
      <span class="tag">Abilis</span>
      <span class="tag primary">0.9.3</span>
    </div>

    <br><br>

    <div class="tags group">
      <span class="tag danger">Alex Smith</span>
      <a class="tag close"></a>
    </div>

    <br><br>

    <div class="field group multiline">
      <div class="control">
        <div class="tags group">
          <span class="tag gray-9">npm</span>
          <span class="tag info">0.9.3</span>
        </div>
      </div>

      <div class="control">
        <div class="tags group">
          <span class="tag black">build</span>
          <span class="tag success">passing</span>
        </div>
      </div>
    </div>

    <br><br>

    <div class="field group multiline horizontal">
      <div class="control">
        <div class="tags group">
          <a class="tag primary">Technology</a>
          <a class="tag close"></a>
        </div>
      </div>

      <div class="control">
        <div class="tags group">
          <a class="tag dark">CSS</a>
          <a class="tag secondary close"></a>
        </div>
      </div>
    </div>