<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Toast - Abilis</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../dist/css/abilis.css" />
</head>
<body>

  <div class="toast success active" id="toast2">
    <div class="toast-content">
      <i class="fa fa-check check"></i>
      <span class="toast-message">
        <span>Success</span>
        <span>Your changes has been saved !</span>
      </span>
    </div>
    <i class="fa fa-times close"></i>
    <div class="toast-progress"></div>
  </div>

</body>
</html>