.dropdown {

    display: inline;
    width: auto;

    .button, .drop {
        min-width: $drop-min-width;
    }

    &:hover .drop,
    &.drop.hovered,
    .dropdown-menu.active {
        border-width: 1px;
        max-height: $drop-max-height;
        padding-bottom: $drop-padding;
        padding-top: $drop-padding;
        transition: padding $drop-transition-duration, max-height $drop-transition-duration, overflow $drop-transition-duration;
    }

    .drop,
    .dropdown-menu {
        border: 1px solid transparent;
        border-top-width: 0px;
        border-bottom-width: 0px;
        max-height: 0;
        min-width: $drop-min-width;
        position: absolute;
        overflow: hidden;
        margin-top: $drop-margin-top;
        border-radius: $drop-border-radius;
        transition: padding $drop-transition-duration, max-height $drop-transition-duration, overflow $drop-transition-duration, border-width 0s calc($drop-transition-duration - 0.17s);

        a {
            color: $color-gray-8;
        }
    }

    .button {
        text-align: start;
        padding-left: $drop-btn-padding;
        padding-right: $drop-btn-padding;
        display: flex;
        justify-content: space-between;
    }

    .button::after {
        content: "";
        @include arrowIcon($color-white);
        width: 17px;
        height: 11px;
        align-self: center;
        background-repeat: no-repeat;
        background-size: 17px;
        transform: $drop-btn-after-transform;
    }

    ul {
        padding-left: 0;
        list-style: none;
    }

    .dropdown-item {
        padding: $drop-item-padding;
        white-space: nowrap;
    }

    .dropdown-divider {
        border: none;
        height: $drop-divider-height;
        margin: $drop-divider-margin;
    }
}

@each $cname, $color1, $color2 in $colors {
    .dropdown {
        .button {
            &.button-#{$cname}::after {
                @include arrowIcon($color2);
            }
            &.button-outline-#{$cname} {
            
                &::after {
                    @include arrowIcon($color1);
                }

                &:hover::after {
                    @include arrowIcon($color2);
                }
            }

            &.button-type,
            &.button-outline-type {
                &.#{$cname}::after {
                    @include arrowIcon($color1);
                }
            }
        }
    }
}