.navbar {
  min-height: $navbar-min-height;
  position: relative;
  z-index: 1000;

  ul {
    padding-left: 0;
  }

  &.sticky {
    position: fixed;
    width: 100%;
    top: 0;
  }

  .buttons {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }
}

.navbar,
.navbar-end,
.navbar-menu,
.navbar-start,
.navbar-middle {
  align-items: stretch;
  display: flex;

  .field {
    align-items: center;
    display: flex;
  }
}

.navbar-sticky-fast {
  position: fixed;
  width: 100%;
  padding-top: $navbar-sticky-fast-padding;
  padding-bottom: $navbar-sticky-fast-padding;
  transition: $navbar-sticky-fast-transition;

  &.sticky-active {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.navbar-brand {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  min-height: $navbar-min-height;
  padding-right: $navbar-brand-padding;
  padding-left: $navbar-brand-padding;

  .navbar-item {
    font-weight: $navbar-logo-font-weight;
    font-size: $navbar-logo-font-size;

    img {
      max-height: $navbar-item-logo-max-height;
      height: auto;
      max-width: 100%;
      
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

// NAVBAR ITEMS
.navbar-item,
.navbar-link {
  display: flex;
  align-items: center;
}

.navbar-link,
a.navbar-item {
  cursor: pointer;
}

.navbar-link {
  justify-content: space-between;
}

.navbar-item {
  line-height: $navbar-item-line-height;
  padding: $navbar-item-padding;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;

  a {
    padding: 7px 17px;
    border-radius: $border-radius;
  }

  .buttons .button:not(:last-child) {
    margin-right: $navbar-item-btn-margin-right;
  }
}
// NAVBAR ITEMS

// NAVBAR TOGGLE
.navbar-toggle-1,
.navbar-toggle-2,
.navbar-toggle-3,
.navbar-toggle-4 {
  display: flex;
  justify-content: end;
  align-items: center;
  width: $navbar-toggle-width;
  height: $navbar-toggle-height;
  position: absolute;
  margin: $navbar-toggle-margin;
  right: $navbar-toggle-right;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.navbar-toggle-1 span,
.navbar-toggle-3 span,
.navbar-toggle-4 span {
  display: block;
  position: absolute;
  height: $navbar-toggle-span-height;
  width: 100%;
  background: $navbar-toggle-span-color;
  border-radius: $navbar-toggle-border-radius;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

// NAVBAR TOGGLE 1
.navbar-toggle-1 {
  span {
    &:nth-child(1) {
      top: $navbar-toggle-child-1-top;
    }
    &:nth-child(2) {
      top: $navbar-toggle-child-2-top;
    }
    &:nth-child(3) {
      top: $navbar-toggle-child-3-top;
    }
  }

  &.open {
    span {
      &:nth-child(1) {
        top: $navbar-toggle-child-2-top;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }

      &:nth-child(2) {
        opacity: 0;
        left: $navbar-toggle-1-span-child-2-left;
      }

      &:nth-child(3) {
        top: $navbar-toggle-child-2-top;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }
  }
}
// NAVBAR TOGGLE 1

// NAVBAR TOGGLE 2
.navbar-toggle-2 {
  span {
    display: block;
    position: absolute;
    height: $navbar-toggle-span-height;
    width: 50%;
    background: $navbar-toggle-span-color;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;

    &:nth-child(even) {
      left: 50%;
      border-radius: 0 $navbar-toggle-border-radius $navbar-toggle-border-radius
        0;
    }

    &:nth-child(odd) {
      left: 0px;
      border-radius: $navbar-toggle-border-radius 0 0
        $navbar-toggle-border-radius;
    }

    &:nth-child(1),
    &:nth-child(2) {
      top: $navbar-toggle-child-1-top;
    }

    &:nth-child(3),
    &:nth-child(4) {
      top: $navbar-toggle-child-2-top;
    }

    &:nth-child(5),
    &:nth-child(6) {
      top: $navbar-toggle-child-3-top;
    }
  }

  &.open {
    span {
      &:nth-child(1),
      &:nth-child(6) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:nth-child(2),
      &:nth-child(5) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      &:nth-child(1) {
        left: $navbar-toggle-2-span-child-1-left;
        top: $navbar-toggle-2-span-child-1-top;
      }

      &:nth-child(2) {
        left: $navbar-toggle-2-span-child-2-left;
        top: $navbar-toggle-2-span-child-2-top;
      }

      &:nth-child(3) {
        left: $navbar-toggle-2-span-child-3-left;
        opacity: 0;
      }

      &:nth-child(4) {
        left: $navbar-toggle-2-span-child-4-left;
        opacity: 0;
      }

      &:nth-child(5) {
        left: $navbar-toggle-2-span-child-5-left;
        top: $navbar-toggle-2-span-child-5-top;
      }

      &:nth-child(6) {
        left: $navbar-toggle-2-span-child-6-left;
        top: $navbar-toggle-2-span-child-6-top;
      }
    }
  }
}
// NAVBAR TOGGLE 2

// NAVBAR TOGGLE 3
.navbar-toggle-3 {
  span {
    &:nth-child(1) {
      top: $navbar-toggle-child-1-top;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: $navbar-toggle-child-2-top;
    }

    &:nth-child(4) {
      top: $navbar-toggle-child-3-top;
    }
  }

  &.open {
    span {
      &:nth-child(1) {
        top: $navbar-toggle-child-3-top;
        width: 0%;
        left: 50%;
      }

      &:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        top: $navbar-toggle-child-3-top;
        width: 0%;
        left: 50%;
      }
    }
  }
}
// NAVBAR TOGGLE 3

// NAVBAR TOGGLE 4
.navbar-toggle-4 {
  span {
    &:nth-child(1) {
      top: $navbar-toggle-child-1-top;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    &:nth-child(2) {
      top: $navbar-toggle-child-2-top;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    &:nth-child(3) {
      top: $navbar-toggle-child-3-top;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
  }

  &.open {
    span {
      &:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: $navbar-toggle-4-span-child-1-top;
        left: $navbar-toggle-4-span-child-1-left;
      }

      &:nth-child(2) {
        width: 0%;
        opacity: 0;
      }

      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: $navbar-toggle-4-span-child-3-top;
        left: $navbar-toggle-4-span-child-3-left;
      }
    }
  }
}
// NAVBAR TOGGLE 4

// NAVBAR DROPDOWN
.navbar-item.dropdown {
  .navbar-link::after {
    content: "";
    @include arrowIcon($navbar-dropdown-icon-color);
    width: 17px;
    height: 11px;
    align-self: center;
    right: $navbar-dropdown-icon-right;
    margin-left: 1rem;
    background-repeat: no-repeat;
    background-size: 17px;
    transform: $navbar-dropdown-icon-transform;
  }

  .navbar-dropdown,
  .navbar-dropdown-clicked {
    font-size: $navbar-dropdown-font-size;

    .navbar-item {
      padding-left: $navbar-dropdown-item-padding;
      padding-right: $navbar-dropdown-item-padding;
    }

    .navbar-divider {
      background-color: $color-gray-1;
      border: none;
      height: $navbar-dropdown-divider-height;
      margin: $navbar-dropdown-divider-margin;
    }
  }
}
// NAVBAR DROPDOWN
// NAVBAR TOGGLE

// MOBILE
@media screen and (max-width: calc($navbar-breakpoint - 1px)) {
  .navbar-menu,
  .navbar-end,
  .navbar-start,
  .navbar-middle {
    flex-direction: column;
  }

  .navbar-menu {
    overflow: hidden;
    margin-top: -1px;
    display: flex;
    position: absolute;
    background-color: $color-gray-1;
    width: 100%;
    top: 100%;
    max-height: 0;
    padding-right: 0 !important;
    padding-left: 0 !important;
    transition: $navbar-mobile-menu-transition;

    &.open {
      max-height: $navbar-mobile-menu-max-height;
      padding: $navbar-mobile-menu-padding;
      transition: $navbar-mobile-menu-transition;
    }

    .navbar-start {
      display: flex;
      flex-direction: column;
    }

    .mobile-center {
      margin: 0 auto;
    }

    .navbar-item,
    .navbar-link {
      cursor: pointer;
      align-items: flex-start;
    }

    .navbar-item {
      width: 100%;

      a:not(.button) {
        width: 100%;
      }
    }

    .navbar-item {
      &.dropdown {
        flex-direction: column;

        .navbar-link {
          width: 100%;

          &.open::after {
            transform: rotate(0deg);
            transition: $navbar-dropdown-transition;
          }

          &::after {
            transition: $navbar-dropdown-transition;
          }
        }
      }
    }

    .navbar-item.dropdown .navbar-dropdown,
    .navbar-item.dropdown.click .navbar-dropdown-clicked {
      max-height: 0;
      overflow: hidden;
      padding: 0 $navbar-mobile-menu-dropdown-padding;
      transition: $navbar-dropdown-transition;
      width: 100%;

      &.open {
        max-height: $navbar-mobile-menu-dropdown-max-height;
        padding: $navbar-mobile-menu-dropdown-padding;
        transition: $navbar-dropdown-transition;
      }

      .navbar-divider {
        display: none;
      }
    }
  }
}
// MOBILE

// DESKTOP
@media screen and (min-width: $navbar-breakpoint) {
  .navbar-toggle-1,
  .navbar-toggle-2,
  .navbar-toggle-3,
  .navbar-toggle-4 {
    display: none;
  }

  .navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    max-height: unset !important;
  }

  .navbar-start {
    justify-content: flex-start;
    margin-right: auto;
  }

  .navbar-item.dropdown {
    .navbar-dropdown,
    .navbar-dropdown-clicked {
      background-color: $navbar-desktop-dropdown-bg;
      box-shadow: $navbar-desktop-dropdown-box-shadow;
      max-height: 0;
      overflow: hidden;
      font-size: $navbar-dropdown-font-size;
      left: 0;
      min-width: 100%;
      position: absolute;
      z-index: 20;
      transition: $navbar-dropdown-transition;
    }

    &.active .navbar-dropdown.navbar-dropdown-1,
    &:hover .navbar-dropdown.navbar-dropdown-1,
    .navbar-dropdown-clicked.navbar-dropdown-1.active {
      border-top: $navbar-desktop-dropdown-1-border-top;
    }

    .navbar-dropdown.active,
    .navbar-dropdown-clicked.active {
      transition: unset;
    }

    .navbar-dropdown.right,
    .navbar-dropdown-clicked.right {
      left: auto;
      right: 0;
    }

    .navbar-dropdown-1 {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      top: $navbar-desktop-dropdown-1-top;
    }

    .navbar-dropdown-2 {
      border-radius: $border-radius;
      top: $navbar-desktop-dropdown-2-top;
    }

    &.active .navbar-dropdown,
    &:hover .navbar-dropdown,
    .navbar-dropdown.active,
    .navbar-dropdown-clicked.active {
      max-height: $navbar-desktop-dropdown-max-height;
      padding-bottom: $navbar-desktop-dropdown-padding;
      padding-top: $navbar-desktop-dropdown-padding;
      transition: $navbar-dropdown-transition;
    }

    .navbar-dropdown,
    .navbar-dropdown-clicked {
      .navbar-item {
        padding: $navbar-desktop-dropdown-item-padding;
        white-space: nowrap;
        color: $navbar-desktop-dropdown-item-color;
        cursor: pointer;
      }

      a.navbar-item {
        padding-right: $navbar-desktop-dropdown-item-padding-right;
      }
    }

    .navbar-divider {
      display: block;
    }
  }

  .navbar-middle {
    margin-left: auto;
  }

  .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
    padding-right: $navbar-desktop-end-padding-right;
  }
}
// DESKTOP

// COLORED
@each $cname, $color1, $color2 in $colors {
  .navbar.bg-#{$cname} {
    .navbar-item.dropdown .navbar-link::after {
      @include arrowIcon($color2);
    }

    .navbar-item {
      > a {
        &:hover {
          background-color: rgba($color2, 10%);
        }
      }

      &.active {
        > a {
          background-color: rgba($color2, 10%);
        }
      }
    }
  }

  .navbar.link-#{$cname} {
    .navbar-toggle-1 span,
    .navbar-toggle-2 span,
    .navbar-toggle-3 span,
    .navbar-toggle-4 span {
      background-color: $color1 !important;
    }

    .navbar-item.dropdown .navbar-link::after {
      @include arrowIcon($color1);
    }
  }

  @media screen and (max-width: calc($navbar-breakpoint - 1px)) {
    .navbar-menu.menu-mobile-#{$cname} {
      background-color: $color1;
    }

    .navbar.bg-#{$cname} {
      .navbar-toggle-1 span,
      .navbar-toggle-2 span,
      .navbar-toggle-3 span,
      .navbar-toggle-4 span {
        background-color: $color2 !important;
      }
      .navbar-menu {
        background-color: $color1;
      }
    }
  }
}
// COLORED
