[class*='animation-'] {
    animation-duration: $animation-duration;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

.animation-fade {
    animation-name: fade;
    animation-duration: $animation-fade-duration;
    animation-timing-function: linear;
}

.animation-scale-up {
    animation-name: fade-scale-02;
}

.animation-scale-down {
    animation-name: fade-scale-18;
}

.animation-slide-top {
    animation-name: fade-top;
}

.animation-slide-bottom {
    animation-name: fade-bottom;
}

.animation-unslide-bottom {
    animation-name: unfade-bottom;
}

.animation-slide-left {
    animation-name: fade-left;
}
  
.animation-slide-right {
    animation-name: fade-right;
}

.animation-slide-top-small {
    animation-name: fade-top-small;
}

.animation-slide-bottom-small {
    animation-name: fade-bottom-small;
}

.animation-slide-left-small {
    animation-name: fade-left-small;
}

.animation-slide-right-small {
    animation-name: fade-right-small;
}

.animation-slide-top-medium {
    animation-name: fade-top-medium;
}

.animation-slide-bottom-medium {
    animation-name: fade-bottom-medium;
}

.animation-slide-left-medium {
    animation-name: fade-left-medium;
}

.animation-slide-right-medium {
    animation-name: fade-right-medium;
}
  
.animation-kenburns {
    animation-name: scale-kenburns;
    animation-duration: $animation-kenburns-duration;
}

.animation-shake {
    animation-name: shake;
}
  
.animation-reverse {
    animation-direction: reverse;
    animation-timing-function: ease-in;
}

.animation-fast {
    animation-duration: $animation-fast-duration;
}

.animation-toggle

.animation-toggle {
    -webkit-tap-highlight-color: transparent;

    &:not(:hover):not(:focus) [class*='animation-'] {
        animation-name: none;
    }

    &:focus {
        outline: none;
    }
}

.animation-slide-left-close {
    animation-name: slide-left-close;
}

.animation-slide-right-close {
    animation-name: slide-right-close;
}

@keyframes slide-left-close {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes slide-right-close {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}
  
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-top {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-bottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes unfade-bottom {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

@keyframes fade-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-top-small {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-bottom-small {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-left-small {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-right-small {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-top-medium {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-bottom-medium {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-left-medium {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-right-medium {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-scale-02 {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fade-scale-18 {
    0% {
        opacity: 0;
        transform: scale(1.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes scale-kenburns {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(-9px);
    }
    20% {
        transform: translateX(8px);
    }
    30% {
        transform: translateX(-7px);
    }
    40% {
        transform: translateX(6px);
    }
    50% {
        transform: translateX(-5px);
    }
    60% {
        transform: translateX(4px);
    }
    70% {
        transform: translateX(-3px);
    }
    80% {
        transform: translateX(2px);
    }
    90% {
        transform: translateX(-1px);
    }
}