@each $cname, $color1, $color2 in $colors {
    .bg-#{$cname} {
        background-color: $color1 !important;
        color: $color2;

        a:not(.button) {
            color: $color2;
        }
    }
}

.bg-square {
    @include bgSquare();
    mask-image: linear-gradient(to bottom, transparent, black);
    -webkit-mask-image: linear-gradient(to bottom, transparent, black);
    background-position: bottom 1px center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

.bg-transparent {
    background-color: transparent !important;
}