/* height */
@each $height, $size in $widths {
    .h-#{$height} {
        height: $size !important;
    }

    .max-h-#{$height} {
        max-height: $size !important;
    }
}

.h-full {
    height: 100vh;
}

.max-h-full {
    max-height: 100vh;
}
/* height */